/*----------------------------------------------   
--Fonts
-----------------------------------------------  */
$font-header: "verlag", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-paragraph: "minion-pro", georgia, times, serif;

/*----------------------------------------------   
--Font Sizes: supporting
-----------------------------------------------  */
$font-xsmall: .6em;
$font-small: .8em;

/*----------------------------------------------   
--Line Height
-----------------------------------------------  */
$base-lineheight: 1.7;

/*----------------------------------------------   
--Grid
-----------------------------------------------  */
/* Row Container */
$row-max-width: 60em;

/* Columns Grid */
$col: 100% / 12;
$col-padding: 0.75em;
$base-gutter: 0.75em;

/* MQs Min-Width */
/* MQs Min-Width */
$mq-xsmall: 22em;
$mq-small: 32em;
$mq-med: 54em;
//laptop
$mq-large: 65em;
//Past laptop
$mq-xlarge: 91em;
//Mid Size monitor
$mq-xxlarge: 115em;
//Thunderbold goes to 157em
$mq-xxxlarge: 130em;

/*----------------------------------------------   
--Layouts
-----------------------------------------------  */
$sect-headings: 1em 0;
$sect-title: 6em 0 7em;
$sect-content: 3em 0; 

/*----------------------------------------------   
--Header-Main
-----------------------------------------------  */
$header-height: 4em; 

/*----------------------------------------------   
--Forms
-----------------------------------------------  */
$base-borderradius: 4px;
$form-borderwidth: 2px;
$form-placeholdercolor: #bbbbbb;
$form-bordercolor: #aaa;
/*----------------------------------------------   
--Colors
-----------------------------------------------  */
$color-alpha:  #38d397;
$color-beta:   #003a49;
$color-delta:  #d15424;
$color-zeta:   #1b7091;
$color-white:     #fff;
$color-headers: #133E49;
$color-light:     rgba(255,255,255,0.8);
$color-dark:      rgba(0,0,0,0.9);
$color-grey:      #cdcdcd;
$color-lightgrey: #eee;
$color-darkgrey:  #586B72;
$color-alert:     #e74c3c;
$color-warning:   #e74c3c;
$color-ok:        #1ABC9C;




