/*----------------------------------------------
--Fonts
-----------------------------------------------*/
$font-header: "Gibson", Helvetica, Arial, sans-serif;
$font-paragraph: "Noto-Serif", Georgia, serif;

/*----------------------------------------------
--Line Height
-----------------------------------------------*/
$base-lineheight: 1.7;

/*----------------------------------------------
--Media Queries (min-widths)
-----------------------------------------------*/
//Smallest phone
$mq-xsmall: 22em;
//phone
$mq-small: 32em;
//Tablet
$mq-med: 54em;
//laptop
$mq-large: 65em;
//Past laptop
$mq-xlarge: 91em;
//Mid Size monitor
$mq-xxlarge: 115em;
//Thunderbold goes to 157em
$mq-xxxlarge: 130em;

/*----------------------------------------------
--Forms
-----------------------------------------------*/
$base-borderradius: 0px;
$form-borderwidth: 2px;
$form-placeholdercolor: #bbbbbb;
$form-bordercolor: #aaa;

/*----------------------------------------------
--Colors
-----------------------------------------------*/
$color-alpha:     #343D80;
$color-beta:      #003a49;
$color-delta:     #d15424;
$color-zeta:      #1b7091;

$color-white:     #fff;
$color-light:     rgba(255,255,255,0.8);

$color-lightgrey: #f8f8f8;
$color-grey:      #9a9a9a;
$color-darkgrey:  #586B72;

$color-dark:      #363636;

$color-alert:     #e74c3c;
$color-ok:        #1ABC9C;
