/*----------------------------------------------
--Helper/Utilites classes - Most common use cases
-----------------------------------------------*/

/*----------------------------------------------
--Positioning/Floating
-----------------------------------------------*/
.u-clearfix {
  @include clearfix;
}
.u-float-right {
  float: right !important;
}
.u-float-left {
  float: left !important;
}
.u-float-none {
  float: none !important;
}
.u-centered-block {
  margin: 0 auto !important;
}


/*----------------------------------------------
-Grid helpers
-----------------------------------------------*/
.u-center-all {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  
  .cols{
    margin: 0 auto;
    float: none;
    display: block;
    text-align:center;
  }
}

.u-centered .cols, .u-centered.cols{
  float:none;
  margin: 0 auto;
}
/*----------------------------------------------
--Hiding
-----------------------------------------------*/
.u-display-none {
  display: none !important;
}
.u-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
.u-off-screen {
  position: absolute !important;
  left: -9999px !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
.u-uninteractable {
  pointer-events: none !important;
}

/*----------------------------------------------
--Text alignment
-----------------------------------------------*/
.u-align-center {
  text-align: center !important;
}
.u-align-right {
  text-align: right !important;
}
.u-align-left {
  text-align: left !important;
}

/*----------------------------------------------
--Misc
-----------------------------------------------*/
.u-vertical-center {
  display: table;

  & > * {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
}
.u-unstyled-list {
  @include unstyled-list;
}
.u-horizontal-list {
  @extend .u-unstyled-list;

  li {
    display: inline-block;
  }
}

/*----------------------------------------------
--Decor - borders
-----------------------------------------------*/
.has-left-border{
 border-left: 1px solid #111;
 padding-top: 0;
 padding-bottom: 0;
}
