//----------------------------------------------
// Typography
//----------------------------------------------
body {
  font-family: $font-paragraph;
  line-height: $base-lineheight;
  color: $color-grey;
  background-color: #fff;
}

//----------------------------------------------
// Fluid body sizing
//----------------------------------------------
body {
  font-size: 100%;
  
  @media (min-width: $mq-small) {
    font-size: 105%;
  }
  @media (min-width: $mq-med) {
    font-size: 107%;
  }
  @media (min-width: $mq-large) {
    font-size: 110%;
  }
  @media (min-width: 75em) {
    font-size: 112%;
  }
  @media (min-width: $mq-xlarge) {
    font-size: 125%;
  }
  @media (min-width: $mq-xxlarge) {
    font-size: 130%;
  }
  @media (min-width: $mq-xxxlarge) {
    font-size: 150%;
  }
}

//----------------------------------------------
//  Headings
//  @group    typography
//  @requires {placeholder} %font-h* tools/extends/_extends-type.scss
//----------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: 600;
  color: $color-darkgrey;

}

//----------------------------------------------
//  h1
//  @group  typography
//----------------------------------------------
%font-h1, 
h1 {
  margin-bottom: .25em;
  $fontSize: 3.2em;
  font-size: $fontSize - 1em; 
  line-height: 1.25;

  @media (min-width: $mq-med) {
    font-size: $fontSize;  
  }
  @media (min-width: $mq-xlarge) {
    font-size: $fontSize + .25em;
  }
}
//----------------------------------------------
//  h2
//  @group  typography
//----------------------------------------------
%font-h2,
h2 {
  margin-bottom: .25em;
  $fontSize: 1.8em; 
  font-size: $fontSize;  
  line-height: 1.2;

  @media (min-width: $mq-xlarge) {
    font-size: $fontSize + .25em;
  }
}
//----------------------------------------------
//  h3
//  @group  typography
//----------------------------------------------
%font-h3,
h3 {
  margin-bottom: .6em;
  $fontSize: 1.3em;
  font-size: $fontSize;  
  line-height: 1.2;

  @media (min-width: $mq-xlarge) {
    font-size: $fontSize + .25em;
  }
}
//----------------------------------------------
//  h4
//  @group  typography
//----------------------------------------------
%font-h4,
h4 {
  margin-bottom: .5em;
  $fontSize: 1.25em; 
  font-size: $fontSize;  
  font-weight: 400;
  line-height: 1.4;

  @media (min-width: $mq-xlarge) {
   font-size: $fontSize + .25em;
  }
}
//----------------------------------------------
//  h5
//  @group  typography
//----------------------------------------------
%font-h5,
h5 {
  margin-bottom: .4em;
  $fontSize: 1em;
  font-size: $fontSize;  
  line-height: 1.4;
}

//----------------------------------------------
//  paragraphs
//  @group typography
//----------------------------------------------
p {
  margin-top: 0;
  margin-bottom: .75em;
  @media (min-width: $mq-xxlarge){
    font-size: $font-xsmall;
  }
}

small {
  display: block;
  margin-bottom: 1em;
  font-size: 80%;
}

b, strong{
  font-weight: 600;
}


//----------------------------------------------
//  quotes
//  @group typography
//----------------------------------------------
q, blockquote {
  margin: 1em auto;
  padding: .5em;
  font-family: $font-paragraph;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: inherit;
  line-height: 1.5;
  text-align: center;
  color: $color-grey;

}
cite {
  display: block;
  font-family:$font-header;
  font-size: 0.6rem;
  font-weight: 600;
  font-style:normal;
  text-transform:uppercase;
  letter-spacing: 0.2em;
  color: $color-grey;

  @media(min-width:$mq-med){
    font-size: 1rem;
  }

  &:before {
    //content: "\2014 \0020";
  }
}

//----------------------------------------------
//  Selection
//  @group typography
//----------------------------------------------
::selection {
  color: white;
  background: $color-alpha;
  text-shadow: none;
}
