/*----------------------------------------------
-Scroll Animations
@description: animations triggered when in viewport, using data attributes
@see: js/vendor/waypoints.js
@see: js/component/scroll-animations.js
-----------------------------------------------*/

/*----------------------------------------------
-Data-Scroll: Fade-In
-----------------------------------------------*/
[data-scroll="fade-in"]{
  will-change: opacity;
  @media(min-width: $mq-med){
    opacity:0;
  }
  &.animated{
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

/*----------------------------------------------
-Data-Scroll: fade-up
@description: Simple fade up and in on entrance
-----------------------------------------------*/
[data-scroll="fade-up"]{
  will-change: opacity;
  @media(min-width: $mq-med){
    opacity:0;
 
  }
  &.animated{
    animation: slide-up 0.5 $ease-cb-2 both;
    opacity: 1;
    transition: opacity 0.7s ease;
  }
}

/*----------------------------------------------
-Data-Scroll: fade-up-stagger
@description: A staggered fade up and in on entrance
-----------------------------------------------*/
[data-scroll="fade-up-stagger"]{
 will-change: opacity, transform;

  & > *{
    @media(min-width: $mq-med){
      position: relative;
      opacity:0;
      transform: translateY(50%);
    }
  }
  &.animated{

    & > *{
      opacity:1;
      transform: translateY(0em);
      transition: opacity 2s ease, transform 0.7s $ease-cb-2;
     @include nth-trans-delay(10, .15s);
    }
  }
}

/*----------------------------------------------
-No Javascript fallback
-----------------------------------------------*/
.no-js{
  [data-scroll]{
    opacity:1;
  }
  li{
    opacity:1;
  }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


