html{
  //background-color: #ffe2e7;
}
.page-trans{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: #ffe2e7;
  transform: translate3d(0,110%,0);
  z-index: -9;
  transition: transform 1s $ease-cb-2, z-index 0s ease;

  &:before{
    z-index: 999;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translate3d(0, -110%, 0);
  }
}

.is-exiting{

  .page-trans{
    transform: translateY(0);
    z-index: $z-overlays;
    transition: transform 1s $ease-cb, z-index 0s;
  }
}


.is-loading{

  //animation: fade-in ease 1.5s forwards;
  .page-trans{
    z-index: $z-overlays;
  }
  .page-trans:before{

    background-color: #ffe2e7;
    transform: translate3d(0, -110%, 0);
    animation: page-trans-up 1s $ease-cb both;
  }
}

@keyframes page-trans-up{
  0%{
        transform: translate3d(0, -110%, 0);
  }

  100%{
    transform: translate3d(0, -210%, 0);
  }
}


main{
  animation: fade-in 1s 0.3s $ease-cb both;

}
