//----------------------------------------------
//  Seperators
//----------------------------------------------

%sep,
.sep{
  position: relative;
  border: 0;
  height: 1px;
  width: 3em;
  margin: 1em 0;
  background-color: $color-dark;
}
%sep-center,
.sep-center{
  @extend %sep;
  margin: 1em auto;
}

//----------------------------------------------
//  Sep Modifiers
//----------------------------------------------

.sep--dark{
 background-color: $color-dark;
}
.sep--grey{
  background-color: $color-grey;
}
.sep--white{
  background-color: $color-light;
}