/*----------------------------------------------
-helpers-colors
@description: color helpers and color themes
-----------------------------------------------*/


/*----------------------------------------------   
-bg color modifiers
-----------------------------------------------  */

.bg-white{
 background-color: #fff;
}

.bg-black{
 background-color: $color-black;
}

.bg-dark{
 background-color: $color-dark;
}

.bg-lightgrey{
 background-color: $color-lightgrey;
}

.bg-alpha{
  background-color: $color-alpha;
}

.bg-beta{
  background-color: $color-beta;
}

.bg-alert{
  background-color: $color-alert;
}

.bg-success{
  background-color: $color-success;
}