//----------------------------------------------
// Preloader
//----------------------------------------------
.preloader {
  position: absolute;
  top: calc(50% - 3em);
  right: 0;
  left: 0;
  width: 3em;
  height: 3em;
  margin: 5% auto 0;
  border: 1px solid rgba(0,0,0,0.2);
  border-top-color: rgba(0,0,0,1);
  border-radius: 50%;
  animation: spin 1s linear infinite both;
  opacity: 1;
  transition: opacity 2s 0.2s ease-out;
}


//----------------------------------------------
// Preloader: Bounce
//----------------------------------------------
.preloader-bounce{

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
    height: 4em;
    background-color: $color-alpha;
    border-radius: 50%;
    opacity: .6;
    animation: preloader-bounce 2s infinite ease;
  }
  &:after {
    animation-delay: -1s;
  }
}

//----------------------------------------------
// Preloader Spinner
//----------------------------------------------
.preloader--spinner{
  border: 1px solid rgba(0,0,0,0.2);
  border-top-color: rgba(0,0,0,1);
  border-radius: 50%;
  animation: spin 1s linear infinite both;
}


//----------------------------------------------
// Has Image Preloader, fade in
//----------------------------------------------
.has-preloader{
  //min-height: 17em;

  & > img, [class*="__img"]{
    opacity: 0;
    //will-change: opacity;
  //transition: opacity 1s ease-in, transform 1s $ease-cb;
  }

  // Boom - We're loaded.
  &.is-loaded{
    
    .preloader{
      //animation: spin-out 2s linear forwards;
      opacity: 0;
      transition: opacity 1s 0.3s ease-out;
    }
    & > img, [class*="__img"]{
      opacity: 1;
      transition: opacity 1s 0.3s ease-in, transform 1s $ease-cb;
      //animation: fade-in 4s 0.3s ease both;
    }
  }
}


