@charset "UTF-8";
/*----------------------------------------------
--Media Queries (min-widths)
-----------------------------------------------*/
/*----------------------------------------------
--Colors
-----------------------------------------------*/
/*----------------------------------------------
-Seperator Width animation
-----------------------------------------------*/
.mast__pretitle, .mast__subtitle, .title__subtitle {
  font-family: "noto-serif", Georgia, serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 0.8em; }

/*----------------------------------------------   
-section Title Styles
-----------------------------------------------  */
.font-lead {
  font-size: 120%;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin-bottom: 0.8em;
  line-height: 1.6; }
  @media (min-width: 54em) {
    .font-lead {
      font-size: 135%; } }

/*----------------------------------------------   
Normalizer
-----------------------------------------------  */
/* ---------------------------------------------- 
  -Normalizer
  A fork of normalize (github.com/necolas/normalize.css)
*/
/*----------------------------------------------   
-body
1. Default margins
2. prevent mobile gaps
3. Better font rendering across browsers
-----------------------------------------------  */
body {
  margin: 0;
  width: 100%;
  font-weight: 400;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

/*----------------------------------------------   
-body, html
1. Prevent horizontal scrolling.
2. Set 100% height if needed for full viewport stuff
-----------------------------------------------  */
html, body {
  /* 1. */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* 2.
	height: 100%; */ }

/*----------------------------------------------   
-Default to border-box
-----------------------------------------------  */
*, *:before, *:after {
  box-sizing: border-box; }

/*----------------------------------------------   
-HTML5 Block Levels
-----------------------------------------------  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/*----------------------------------------------   
1. Correct `inline-block` display not defined in IE 8/9.
2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
-----------------------------------------------  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/*----------------------------------------------   
-Prevent modern browsers from displaying `audio` without controls.
-Remove excess height in iOS 5 devices.
-----------------------------------------------  */
audio:not([controls]) {
  display: none;
  height: 0; }

/*----------------------------------------------   
-Address `[hidden]` styling not present in IE 8/9/10.
-Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
-----------------------------------------------  */
[hidden],
template {
  display: none; }

/*----------------------------------------------   
LINKS
-Remove the gray background color from active links in IE 10.
-Remove default text-decoration
-Improve readability
-----------------------------------------------  */
a {
  text-decoration: none;
  background-color: transparent;
  outline: 0; }

/*----------------------------------------------   
TEXT LEVEL
-Abbr: Address styling not present in IE 8/9/10/11, Safari, and Chrome.
-Bold: Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
dfn, mark: Address unset styles
-Small: Address inconsistent and variable font size in all browsers.
-Prevent `sub` and `sup` affecting `line-height` in all browsers.
-----------------------------------------------  */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*----------------------------------------------   
Address Blocks
-----------------------------------------------  */
address {
  font-style: normal; }
  address span {
    display: block; }

/*----------------------------------------------   
HEADERS
-Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome.
-Remove Margins from headers and type elements to better define in your typographic system
-----------------------------------------------  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, small {
  margin: 0;
  padding: 0; }

/*----------------------------------------------   
Image IE Scaling fix
-----------------------------------------------  */
img {
  -ms-interpolation-mode: bicubic;
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/*----------------------------------------------   
SVG
-Correct overflow not hidden in IE 9/10/11
-----------------------------------------------  */
svg:not(:root) {
  overflow: hidden; }

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*----------------------------------------------   
CODE & PREFORMATED
-----------------------------------------------  */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*----------------------------------------------   
FORMS
-----------------------------------------------  */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  margin: 0;
  /* 3 */
  font-size: 100%;
  vertical-align: middle; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  overflow: visible;
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * Custom styling to get buttons to appear as normal text/links by default
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  width: auto;
  padding: 0;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer; }

/* Ensure pointer */
label,
select,
button,
input {
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus,
.btn:focus {
  outline: none; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
  vertical-align: text-bottom;
  width: 100%; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/*----------------------------------------------   
TABLES
-----------------------------------------------  */
/**
 * Remove most spacing between table cells.
 */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*----------------------------------------------   
-Base
-----------------------------------------------  */
/*----------------------------------------------   
Links
-Basic Link Styles
--
@see scss/tools/mixins
@see components/buttons for button styles
-----------------------------------------------  */
a {
  color: #C43A31;
  text-decoration: none;
  line-height: inherit;
  transition: color 0.4s ease-in-out; }
  a:hover, a:focus {
    color: #d7d7d7;
    transition: color 0.4s ease-in-out; }
  a:active {
    color: #979797; }

/*----------------------------------------------
--Typography
-----------------------------------------------*/
body {
  font-family: "noto-serif", Georgia, serif;
  line-height: 1.8;
  color: #d7d7d7;
  background-color: #fff; }

/*----------------------------------------------
--Fluid body sizing
-----------------------------------------------*/
body {
  font-size: 100%; }
  @media (min-width: 32em) {
    body {
      font-size: 105%; } }
  @media (min-width: 54em) {
    body {
      font-size: 107%; } }
  @media (min-width: 65em) {
    body {
      font-size: 110%; } }
  @media (min-width: 75em) {
    body {
      font-size: 117%; } }
  @media (min-width: 91em) {
    body {
      font-size: 125%; } }
  @media (min-width: 115em) {
    body {
      font-size: 135%; } }
  @media (min-width: 130em) {
    body {
      font-size: 150%; } }

/*----------------------------------------------   
--H1 Theme
-----------------------------------------------  */
h1, .font-h1 {
  margin-bottom: .25em;
  font-size: 2.2em;
  line-height: 1.25; }
  @media (min-width: 54em) {
    h1, .font-h1 {
      font-size: 3.2em; } }
  @media (min-width: 91em) {
    h1, .font-h1 {
      font-size: 3.45em; } }

/*----------------------------------------------
--H2 Theme
-----------------------------------------------*/
h2, .font-h2 {
  margin-bottom: .25em;
  font-size: 1.8em;
  line-height: 1.2; }
  @media (min-width: 91em) {
    h2, .font-h2 {
      font-size: 2.05em; } }

/*----------------------------------------------
--H3 Theme
-----------------------------------------------*/
h3, .font-h3, .cta__text {
  margin-bottom: .6em;
  font-size: 1.3em;
  line-height: 1.2; }
  @media (min-width: 91em) {
    h3, .font-h3, .cta__text {
      font-size: 1.55em; } }

/*----------------------------------------------
--H4 Theme
-----------------------------------------------*/
h4, .font-h4 {
  margin-bottom: .5em;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.4; }
  @media (min-width: 91em) {
    h4, .font-h4 {
      font-size: 1.5em; } }

/*----------------------------------------------   
--H5 Theme
-----------------------------------------------  */
h5, .font-h5 {
  margin-bottom: .4em;
  font-size: 1em;
  line-height: 1.4; }

/*----------------------------------------------   
--Headings
-----------------------------------------------  */
h1, h2, h3, h4, h5, h6 {
  font-family: "gibson", Georgia, serif;
  font-weight: 600;
  color: #242121; }

/*----------------------------------------------   
--Paragraph
-----------------------------------------------  */
p {
  margin-top: 0;
  margin-bottom: .75em; }

small {
  display: block;
  margin-bottom: 1em;
  font-size: 80%; }

/*--------------------------------------------------- 
Quotes
---------------------------------------------------  */
q, blockquote {
  margin: 1em auto;
  padding: .5em;
  font-family: "noto-serif", Georgia, serif;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: inherit;
  line-height: 1.5;
  text-align: center;
  color: #d7d7d7; }

cite {
  display: block;
  font-family: "gibson", Georgia, serif;
  font-size: 0.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #d7d7d7; }
  @media (min-width: 54em) {
    cite {
      font-size: 1rem; } }

/*----------------------------------------------   
--Selection
-----------------------------------------------  */
::selection {
  color: white;
  background: #C43A31;
  text-shadow: none; }

/*--------------------------------------------------- 
Lists
---------------------------------------------------  */
.list-unstyled, .list-vert {
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none; }

.list-vert li {
  display: inline-block; }

ol li {
  padding-bottom: 0.5em; }

/*--------------------------------------------------- 
Post Content Lists
---------------------------------------------------  */
.post-content ul {
  margin-left: 1.2em; }
  .post-content ul > li {
    margin: 0.5em 0;
    font-size: 0.95em; }
.post-content ol {
  counter-reset: li;
  margin-left: 1.2em; }
.post-content ol > li {
  position: relative;
  list-style: none;
  margin: 0.5em 0;
  font-size: 0.95em; }
.post-content ol > li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  left: -1.2em;
  width: 1em;
  font-family: "gibson", Georgia, serif;
  font-weight: 600;
  color: #a7a6a6; }

/*----------------------------------------------
--Responsive images/embeds
-----------------------------------------------*/
img, svg, figure, picture, object, embed, iframe, video {
  max-width: 100%;
  height: auto; }

/*----------------------------------------------
--Flexible Video: wrap video inside flex-vid div
-----------------------------------------------*/
.flex-vid {
  position: relative;
  height: 0;
  margin-bottom: 1em;
  padding-bottom: 56.5%;
  overflow: hidden; }
  .flex-vid iframe, .flex-vid object, .flex-vid embed, .flex-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*----------------------------------------------
-Forms
-----------------------------------------------*/
/*----------------------------------------------
--Inputs - all
-----------------------------------------------*/
input, textarea, select {
  display: block;
  width: 100%;
  padding: 0.95em 0.5em 1em;
  font-family: "noto-serif", Georgia, serif;
  font-size: 0.8em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  transition: all .25s ease-in;
  -webkit-appearance: none; }
  input:focus, textarea:focus, select:focus {
    border-color: #C43A31; }

.field--minimal {
  border: 0;
  border-bottom: 1px solid #d7d7d7; }

/*----------------------------------------------
--Labels
Need to a hide a label? Use .u-off-screen
-----------------------------------------------*/
label {
  display: inline;
  font-family: "noto-serif", Georgia, serif;
  font-size: 1em; }

/*----------------------------------------------
--Helper class for input groups
-----------------------------------------------*/
.input-group {
  margin: 1em auto;
  display: flex; }
  .input-group input:first-child {
    border-right: 0; }
  .input-group__btn {
    flex-basis: 15%; }

/*----------------------------------------------
--Placeholders
-----------------------------------------------*/
::placeholder {
  color: #242121; }

/*----------------------------------------------
--Checkboxes
-----------------------------------------------*/
/* Base for label styling */
[type="checkbox"] {
  position: absolute;
  left: -9999px; }

[type="checkbox"] + label {
  position: relative;
  display: inline;
  font-size: .85em;
  font-weight: 400;
  color: #999;
  cursor: pointer;
  transition: color .4s ease; }
  [type="checkbox"] + label:hover {
    color: #C43A31; }

/* checkbox aspect */
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #ccc;
  background: #ddd;
  border-radius: 4px; }

[type="checkbox"] + label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: .3em;
  font-size: 1em;
  color: #fff;
  transition: all .2s; }

/* Hover */
[type="checkbox"] + label:hover:before,
[type="checkbox"]:focus + label:before {
  border: 1px solid #C43A31;
  transition: border .4s ease; }

/* Checked */
[type="checkbox"]:checked + label:before {
  background: #C43A31;
  border: 1px solid #C43A31; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled + label {
  color: #ccc;
  cursor: not-allowed; }
  [type="checkbox"]:disabled + label:before {
    border-color: #e9e9e9;
    background-color: #e9e9e9; }
  [type="checkbox"]:disabled + label:after {
    color: #eee;
    background: #ccc; }

/*----------------------------------------------
--Radios
-----------------------------------------------*/
/* Base for label styling */
[type="radio"] {
  position: absolute;
  left: -9999px; }

[type="radio"] + label {
  position: relative;
  display: inline;
  padding-left: 30px;
  font-size: .85em;
  font-weight: 400;
  color: #999;
  cursor: pointer; }
  [type="radio"] + label:hover {
    color: #C43A31;
    transition: color .4s ease; }

/* radio dot */
[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 22px;
  height: 22px;
  border: 3px solid #ccc;
  border-radius: 50%;
  background: #ddd; }

/* Hover */
[type="radio"] + label:hover:before,
[type="radio"]:focus + label:before {
  border: 3px solid #C43A31;
  transition: border .4s ease; }

/* Checked */
input[type="radio"]:checked + label:before {
  background: #C43A31;
  border: 3px solid #C43A31;
  box-shadow: inset 0 0 0 3px #fff; }

/* disabled radio */
[type="radio"]:disabled + label {
  color: #ccc;
  cursor: not-allowed; }
  [type="radio"]:disabled + label:before {
    box-shadow: none;
    border-color: #e9e9e9;
    background-color: #e9e9e9; }
  [type="radio"]:disabled + label:after {
    color: #eee;
    background: #ccc; }

/*----------------------------------------------
--Misc
-----------------------------------------------*/
fieldset {
  margin: 1em 0; }

legend {
  margin-left: -.75em; }

/*----------------------------------------
-CODE
-----------------------------------------*/
code, kbd, pre, samp {
  font-family: Inconsolata, monospace;
  font-size: 0.9em; }

pre {
  padding: 2em 0.5em;
  line-height: 1.9;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #242121;
  background: #eee;
  overflow: hidden; }
  @media (min-width: 54em) {
    pre {
      padding: 2em 1.5em; } }

.highlighting, .highlight {
  overflow-x: hidden;
  margin: 0 -10% !important; }
  .highlighting pre::-webkit-scrollbar, .highlight pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 3px;
    background: #ddd; }
  .highlighting pre::-webkit-scrollbar-thumb, .highlight pre::-webkit-scrollbar-thumb {
    background-color: #000; }
  .highlighting pre::-webkit-scrollbar-track, .highlight pre::-webkit-scrollbar-track {
    background: #ddd; }
  .highlighting code, .highlight code {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 5%; }

/*----------------------------------------
-SYNTAX HIGHLIGHTING
@description: syntax highlighting via Prisim.js

This build: 
http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+actionscript+handlebars+json+markdown+jsx+sass+scss
-----------------------------------------*/
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #586e75; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #2aa198; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #268bd2; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/*----------------------------------------------   
--Tables
-----------------------------------------------  */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.8; }
  table td {
    padding: 2% 0;
    vertical-align: middle;
    line-height: 1.8;
    text-align: left; }
  table th {
    padding: 1% 0 0.5%; }
  table thead {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody tr {
    border: 0;
    border-bottom: 1px solid #d7d7d7; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: #fbfbfb;
    transition: background-color .6s ease-in; }

.table--striped tr:nth-child(2n+2) {
  background-color: #fbfbfb;
  transition: background-color .6s ease-in; }

/*----------------------------------------------   
Vendor
-----------------------------------------------  */
/*----------------------------------------------   
-Layouts & Regions
-----------------------------------------------  */
/*----------------------------------------------
--Header offcanvas-bg
-----------------------------------------------*/
.site-menu-sm {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  display: table;
  height: 100vh;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate3d(100%, 0, 0);
  transition: transform .7s ease; }
  @media (min-width: 54em) {
    .site-menu-sm {
      width: 50%; } }
  .site-menu-sm nav {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
    .site-menu-sm nav ul {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 1em .5em;
      font-family: "gibson", Georgia, serif;
      text-align: center;
      transition: all .5s ease; }
    .site-menu-sm nav li {
      display: block;
      padding: .5em 0;
      font-family: "gibson", Georgia, serif;
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease;
      transform: translateX(10%); }
    .site-menu-sm nav a {
      color: #fff;
      transition: all .7s ease; }
      .site-menu-sm nav a:hover, .site-menu-sm nav a:focus, .site-menu-sm nav a.active {
        color: rgba(255, 255, 255, 0.6); }

/*----------------------------------------------
--js-nav-open
-----------------------------------------------*/
.js-menu--is-open {
  /*--offcanvas-bg--*/ }
  .js-menu--is-open .site-menu-sm {
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s cubic-bezier(0.34, 0.95, 0.27, 0.98);
    /*--offcanvas nav link animation--*/ }
    .js-menu--is-open .site-menu-sm ul li {
      opacity: 1;
      transform: translateX(0px);
      transition: all .4s ease;
      visibility: visible;
      -webkit-backface-visibility: hidden; }
      .js-menu--is-open .site-menu-sm ul li:nth-child(1) {
        transition-delay: 0.1s; }
      .js-menu--is-open .site-menu-sm ul li:nth-child(2) {
        transition-delay: 0.2s; }
      .js-menu--is-open .site-menu-sm ul li:nth-child(3) {
        transition-delay: 0.3s; }
      .js-menu--is-open .site-menu-sm ul li:nth-child(4) {
        transition-delay: 0.4s; }
      .js-menu--is-open .site-menu-sm ul li:nth-child(5) {
        transition-delay: 0.5s; }

/*----------------------------------------------
--Header-specific vars
-----------------------------------------------*/
/*----------------------------------------------
--Header + Nav
-----------------------------------------------*/
.site-header {
  z-index: 9;
  position: absolute;
  display: block;
  width: 100%;
  height: 4em;
  line-height: 4em;
  color: #fff;
  transition: all 1s ease; }
  .site-header .row {
    max-width: 98%; }
    @media (min-width: 65em) {
      .site-header .row {
        max-width: 90%; } }

/*----------------------------------------------
--Logo
-----------------------------------------------*/
.site-header__logo {
  display: inline-block;
  width: 8.25em;
  height: 4em;
  line-height: 0;
  transition: all .5s ease; }
  @media (min-width: 54em) {
    .site-header__logo {
      width: 9.75em; } }
  .site-header__logo:hover {
    opacity: .8; }
  .site-header__logo img, .site-header__logo span {
    vertical-align: middle; }
  .site-header__logo span {
    color: #fff;
    font-family: "gibson", Georgia, serif; }

/*----------------------------------------------
--Header-main--nav
-----------------------------------------------*/
.site-header__nav {
  display: none;
  text-align: right; }
  @media (min-width: 54em) {
    .site-header__nav {
      display: inline-block;
      float: right; } }
  .site-header__nav ul {
    margin: 0 auto;
    padding-left: 0;
    list-style-type: none;
    padding: 0; }
  .site-header__nav ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: .7em;
    padding: 0; }
  .site-header__nav a {
    display: inline-block;
    font-family: "gibson", Georgia, serif;
    font-weight: 600;
    color: #fff; }
  .site-header__nav a:hover, .site-header__nav a:focus, .site-header__nav a:active {
    color: #C43A31; }

/*----------------------------------------------   
Site Header Menu Link
-----------------------------------------------  */
.site-header__menu-toggle {
  position: fixed;
  z-index: 991;
  height: 3rem;
  width: 3rem;
  top: 1em;
  right: 0.5em; }
  @media (min-width: 54em) {
    .site-header__menu-toggle {
      display: none; } }

/*----------------------------------------------   
-Site Header Menu Link Bars
-----------------------------------------------  */
.site-header__menu-bars {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 1px;
  margin: 0.75em auto;
  background: #fff;
  transition: background 0.4s ease-in-out; }
  .site-header__menu-bars:before {
    top: -7px; }
  .site-header__menu-bars:after {
    top: 7px; }
  .site-header__menu-bars:after, .site-header__menu-bars:before {
    content: '';
    display: block;
    width: 2.5rem;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease-in-out; }
  .site-header__menu-bars:hover {
    cursor: pointer; }

/*----------------------------------------------
--Open Menu Interaction
-----------------------------------------------*/
.js-menu--is-open .site-header__menu-bars {
  background: transparent;
  transition: background 0.4s ease; }
  .js-menu--is-open .site-header__menu-bars:after, .js-menu--is-open .site-header__menu-bars:before {
    top: 0 !important;
    background: #fff !important;
    zoom: 1; }
  .js-menu--is-open .site-header__menu-bars:after {
    transform: rotate(45deg); }
  .js-menu--is-open .site-header__menu-bars:before {
    transform: rotate(-45deg); }
.js-menu--is-open .site-header__logo .svg {
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease; }

/*----------------------------------------------
-Scrolling Down Interaction
-----------------------------------------------*/
.scrolling-down .site-header {
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: transform .5s ease, background .1s ease;
  animation: nav-down ease-in-out .3s .1s both;
  transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden; }
  .scrolling-down .site-header nav a:not(.btn) {
    display: inline-block;
    vertical-align: middle;
    color: #d7d7d7; }

@keyframes nav-down {
  0% {
    transform: translateY(-4em); }
  100% {
    transform: translateY(0px); } }
/*----------------------------------------------
--Site footer
-----------------------------------------------*/
.site-footer {
  margin-top: 1em; }

/*----------------------------------------------
--Flex-based sticky footer.Strangely enough, the
footer itself doesn't need CSS, but body and main
do. Comment this out in app.scss if not wanted.
-----------------------------------------------*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex-grow: 1; }

/*----------------------------------------------   
-Components: Modular components
-----------------------------------------------  */
/*----------------------------------------------
--Butan
-----------------------------------------------*/
.btn {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: .5em 1em;
  font-family: "gibson", Georgia, serif;
  text-align: center;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.2;
  border: 0;
  border-radius: 0px;
  transition: background-color .25s ease-in;
  cursor: pointer;
  -webkit-appearance: none; }

/*----------------------------------------------
--Size modifiers
-----------------------------------------------*/
.btn--small {
  font-size: .9em;
  padding: .5em 1.5em; }

.btn--full {
  display: block;
  width: 100%; }

/*----------------------------------------------
--Color modifiers
-----------------------------------------------*/
.btn--alpha {
  color: #fff;
  background-color: #C43A31; }
  .btn--alpha:hover {
    cursor: pointer;
    color: #fff;
    background-color: #d45c54; }
  .btn--alpha:active {
    background-color: #b0342c; }

.btn--beta {
  color: #fff;
  background-color: #003a49; }
  .btn--beta:hover {
    cursor: pointer;
    color: #fff;
    background-color: #00637c; }
  .btn--beta:active {
    background-color: #002630; }

.btn--white {
  color: #003a49;
  background-color: #fff; }
  .btn--white:hover {
    cursor: pointer;
    color: #003a49;
    background-color: #003a49;
    color: #fff; }
  .btn--white:active {
    background-color: #f2f2f2; }

/*----------------------------------------------   
-Sections
@description: define styles global sections
-----------------------------------------------  */
section {
  position: relative; }

/*----------------------------------------------   
-basic section class
-----------------------------------------------  */
.section {
  padding: 4em 0; }

/*----------------------------------------------
-Masts
@description: for top of page mastheads.
@see: scss/tools/mixins.scss for the 'mast' mixin
-----------------------------------------------*/
.mast {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35em;
  width: 100%;
  margin: 0 auto;
  padding-top: 6em;
  padding-bottom: 4em;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 54em) {
    .mast {
      min-height: 65vh; } }
  .mast__bg {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    animation: fade-in 5s ease; }
  .mast [class*='grid'] {
    position: relative;
    align-self: center; }
  .mast__content, .mast__header {
    position: relative;
    z-index: 4;
    margin: 0 auto;
    padding: 0 2%; }
  .mast__pretitle {
    margin-bottom: 1em; }
  .mast__text {
    font-weight: 400;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto; }
  .mast__subtitle {
    font-size: 0.9em; }
  .mast__icon {
    display: block;
    color: #fff;
    font-size: 2.75em; }
  .mast .btn {
    margin: 1.5em auto; }
  .mast br {
    display: none; }
    @media (min-width: 32em) {
      .mast br {
        display: block; } }
  .mast video {
    object-fit: cover; }

/*----------------------------------------------
-Masts Modifier: full height
-----------------------------------------------*/
@media (min-width: 32em) {
  .mast--vh {
    min-height: 100vh; } }

/*----------------------------------------------
-Mast Pages
-----------------------------------------------*/
.mast--page {
  min-height: auto;
  padding: 8em 0 4em; }

/*----------------------------------------------   
-Title sections
-----------------------------------------------  */
.title {
  padding: 3em 0;
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.8); }
  .title h2, .title h3 {
    margin: 0 auto; }
  .title--dark {
    color: #fff; }
  .title--left {
    text-align: left; }
    .title--left h1, .title--left h2, .title--left h3 {
      margin: 0.5em auto; }
  .title--light {
    color: rgba(0, 0, 0, 0.8); }
  .title.bg--lightgrey h2, .title.bg--lightgrey h3 {
    color: rgba(0, 0, 0, 0.8); }

/*----------------------------------------------
-CTA
-----------------------------------------------*/
.cta {
  width: 100%;
  text-align: center;
  font-family: "gibson", Georgia, serif; }
  .cta__link, .cta__link:focus, .cta__link:active {
    display: block;
    padding: 2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease; }
  .cta__text {
    margin: 0 auto; }
  .cta__link:hover {
    color: #fff;
    background-color: #C43A31;
    transition: background-color 0.4s ease; }

/*----------------------------------------------
-CTA--Alpha
-----------------------------------------------*/
.cta--alpha .cta__link {
  background-color: #C43A31; }
  .cta--alpha .cta__link:hover {
    background-color: rgba(0, 0, 0, 0.8); }

/*----------------------------------------------
-BLock-Grid
@description: simple grid based on number of child blocks
              Used for the image-module
              Feel free to use flex-basis for a flexy system
              1 - 100%
              2 - 50%
              3 - 33.333%
-----------------------------------------------*/
.auto-grid:after {
  content: '';
  display: table;
  clear: both; }
.auto-grid__item {
  max-width: 100%;
  margin-bottom: 0; }
  @media (min-width: 54em) {
    .auto-grid__item {
      float: left; } }
.auto-grid__item:first-child:nth-last-child(1) {
  width: 100%; }
@media (min-width: 54em) {
  .auto-grid__item:first-child:nth-last-child(2), .auto-grid__item:first-child:nth-last-child(2) ~ .auto-grid__item {
    width: 50%; } }
@media (min-width: 54em) {
  .auto-grid__item:first-child:nth-last-child(3), .auto-grid__item:first-child:nth-last-child(3) ~ .auto-grid__item {
    width: 33.3333%; } }

/*----------------------------------------------
-Pop Overs
-----------------------------------------------*/
.popup {
  z-index: -2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow-y: auto;
  opacity: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease; }
  .popup li {
    color: #fff;
    opacity: 0;
    transform: translateY(-1.5em); }
  .popup.popup--is-open {
    z-index: 99 !important;
    height: 100%;
    opacity: 1;
    transition: opacity 0.6s ease; }
    .popup.popup--is-open li {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.6s ease, transform 0.3s ease; }
      .popup.popup--is-open li:nth-child(1) {
        transition-delay: 0.1s; }
      .popup.popup--is-open li:nth-child(2) {
        transition-delay: 0.2s; }
      .popup.popup--is-open li:nth-child(3) {
        transition-delay: 0.3s; }
      .popup.popup--is-open li:nth-child(4) {
        transition-delay: 0.4s; }
      .popup.popup--is-open li:nth-child(5) {
        transition-delay: 0.5s; }
      .popup.popup--is-open li:nth-child(6) {
        transition-delay: 0.6s; }
      .popup.popup--is-open li:nth-child(7) {
        transition-delay: 0.7s; }
      .popup.popup--is-open li:nth-child(8) {
        transition-delay: 0.8s; }

.popup--is-open .site-header {
  z-index: 0; }

/*----------------------------------------------
-Pop Overs - CLose
-----------------------------------------------*/
.popup__close {
  z-index: 99;
  position: fixed;
  height: 3rem;
  width: 2rem;
  top: 1em;
  right: 1em; }
  .popup__close:active {
    border: none; }

.popup__x {
  display: block;
  position: absolute;
  top: 1em; }
  .popup__x:hover {
    cursor: pointer; }
  .popup__x:after, .popup__x:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0 !important;
    width: 1.855555rem;
    height: 1px;
    display: block;
    background: #fff !important;
    zoom: 1;
    transition: all 0.4s ease-in-out; }
  .popup__x:after {
    transform: rotate(45deg); }
  .popup__x:before {
    transform: rotate(-45deg); }

/*----------------------------------------------   
Utils
-----------------------------------------------  */
/*----------------------------------------------
-Grid 
-----------------------------------------------*/
.grid, .grid-lg,
.grid--lg, .grid-xl,
.grid--xl, .grid--full {
  width: 92%;
  max-width: 60em;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .grid:after, .grid-lg:after,
  .grid--lg:after, .grid-xl:after,
  .grid--xl:after, .grid--full:after {
    content: '';
    display: table;
    clear: both; }
  @media (min-width: 54em) {
    .grid, .grid-lg,
    .grid--lg, .grid-xl,
    .grid--xl, .grid--full {
      width: 100%; } }

/*----------------------------------------------
-FLex Grid
-----------------------------------------------*/
@media (min-width: 54em) {
  .grid--flex {
    display: flex; } }

/*----------------------------------------------
-GRID : Add col padding if no cols
-----------------------------------------------*/
.grid--pad {
  padding-left: 2%;
  padding-right: 2%; }

/*----------------------------------------------
-GRID Large
-----------------------------------------------*/
.grid-lg,
.grid--lg {
  max-width: 80%; }

/*----------------------------------------------
-GRID XL
-----------------------------------------------*/
.grid-xl,
.grid--xl {
  max-width: 95%; }

/*----------------------------------------------
-GRID : Full Width
-----------------------------------------------*/
.grid--full {
  width: 100%;
  max-width: 100%; }

/*----------------------------------------------
-GRID : Full width Small
-----------------------------------------------*/
@media (max-width: 54em) {
  .grid--full-small {
    width: 100%; } }

/*----------------------------------------------
-Grid : Nested
-----------------------------------------------*/
.grid .grid, .grid-lg .grid,
.grid--lg .grid, .grid-xl .grid,
.grid--xl .grid, .grid--full .grid, .grid .grid-lg, .grid-lg .grid-lg,
.grid--lg .grid-lg, .grid-xl .grid-lg,
.grid--xl .grid-lg, .grid--full .grid-lg,
.grid .grid--lg,
.grid-lg .grid--lg,
.grid--lg .grid--lg,
.grid-xl .grid--lg,
.grid--xl .grid--lg,
.grid--full .grid--lg, .grid .grid-xl, .grid-lg .grid-xl,
.grid--lg .grid-xl, .grid-xl .grid-xl,
.grid--xl .grid-xl, .grid--full .grid-xl,
.grid .grid--xl,
.grid-lg .grid--xl,
.grid--lg .grid--xl,
.grid-xl .grid--xl,
.grid--xl .grid--xl,
.grid--full .grid--xl, .grid .grid--full, .grid-lg .grid--full,
.grid--lg .grid--full, .grid-xl .grid--full,
.grid--xl .grid--full, .grid--full .grid--full {
  width: auto;
  max-width: none;
  min-width: 0;
  margin-left: -2%;
  margin-right: -2%; }

/*----------------------------------------------
-Grid: Columns
-----------------------------------------------*/
.grid__col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 2%;
  padding-right: 2%; }

/*----------------------------------------------
-Cols: Float last col right
-----------------------------------------------*/
@media (min-width: 54em) {
  .grid__cols + .cols:last-child {
    float: right; } }

/*----------------------------------------------   
-Grid System: old school
-----------------------------------------------*/
.g-xsm-1 {
  max-width: 8.33333%;
  flex-basis: 8.33333%; }

.g-xsm-2 {
  max-width: 16.66667%;
  flex-basis: 16.66667%; }

.g-xsm-3 {
  max-width: 25%;
  flex-basis: 25%; }

.g-xsm-4 {
  max-width: 33.33333%;
  flex-basis: 33.33333%; }

.g-xsm-5 {
  max-width: 41.66667%;
  flex-basis: 41.66667%; }

.g-xsm-6 {
  max-width: 50%;
  flex-basis: 50%; }

.g-xsm-7 {
  max-width: 58.33333%;
  flex-basis: 58.33333%; }

.g-xsm-8 {
  max-width: 66.66667%;
  flex-basis: 66.66667%; }

.g-xsm-9 {
  max-width: 75%;
  flex-basis: 75%; }

.g-xsm-10 {
  max-width: 83.33333%;
  flex-basis: 83.33333%; }

.g-xsm-11 {
  max-width: 91.66667%;
  flex-basis: 91.66667%; }

.g-xsm-12 {
  max-width: 100%;
  flex-basis: 100%; }

/*----------------------------------------------
-Grid Cols Main: after med
-----------------------------------------------*/
@media (min-width: 54em) {
  .g-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%; }

  .g-offset-1 {
    margin-left: 8.33333%; }

  .g-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%; }

  .g-offset-2 {
    margin-left: 16.66667%; }

  .g-3 {
    max-width: 25%;
    flex-basis: 25%; }

  .g-offset-3 {
    margin-left: 25%; }

  .g-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%; }

  .g-offset-4 {
    margin-left: 33.33333%; }

  .g-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%; }

  .g-offset-5 {
    margin-left: 41.66667%; }

  .g-6 {
    max-width: 50%;
    flex-basis: 50%; }

  .g-offset-6 {
    margin-left: 50%; }

  .g-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%; }

  .g-offset-7 {
    margin-left: 58.33333%; }

  .g-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%; }

  .g-offset-8 {
    margin-left: 66.66667%; }

  .g-9 {
    max-width: 75%;
    flex-basis: 75%; }

  .g-offset-9 {
    margin-left: 75%; }

  .g-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%; }

  .g-offset-10 {
    margin-left: 83.33333%; }

  .g-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%; }

  .g-offset-11 {
    margin-left: 91.66667%; }

  .g-12 {
    max-width: 100%;
    flex-basis: 100%; }

  .g-offset-12 {
    margin-left: 100%; } }
/*----------------------------------------------
-helpers-colors
@description: color helpers and color themes
-----------------------------------------------*/
/*----------------------------------------------   
-bg color modifiers
-----------------------------------------------  */
.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #111; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.8); }

.bg-lightgrey {
  background-color: #fbfbfb; }

.bg-alpha {
  background-color: #C43A31; }

.bg-beta {
  background-color: #003a49; }

.bg-alert {
  background-color: #c43a31; }

.bg-success {
  background-color: #1ABC9C; }

/*----------------------------------------------
--Helper/Utilites classes - Most common use cases
-----------------------------------------------*/
/*----------------------------------------------
--Clear Fix
-----------------------------------------------*/
.cf:after {
  content: '';
  display: table;
  clear: both; }

/*----------------------------------------------
-Background Image Styles
-----------------------------------------------*/
.bg-img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; }

/*----------------------------------------------
-Paddings
-----------------------------------------------*/
.pad {
  padding: 4em 0; }

.pad-sm {
  padding: 2em 0; }

.pad-lg {
  padding: 6em 0; }

/*----------------------------------------------
-Margins
-----------------------------------------------*/
.mb-1 {
  margin-bottom: 1em; }

.mt-1 {
  margin-top: 1em; }

/*----------------------------------------------
-Floats
-----------------------------------------------*/
.float-right {
  float: right !important; }

.float-left {
  float: left !important; }

.float-none {
  float: none !important; }

/*----------------------------------------------
-Text alignment
-----------------------------------------------*/
.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

/*----------------------------------------------
- Centering
-----------------------------------------------*/
.centered,
.centered.grid__col {
  float: none;
  margin: 0 auto;
  display: block; }

.center-all {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%; }
  .center-all .grid__col {
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center; }

/*----------------------------------------------
- Displays
-----------------------------------------------*/
.display-none {
  display: none !important; }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.visualy-hidden {
  position: absolute !important;
  left: -9999px !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); }

.no-interaction {
  pointer-events: none !important; }

/*----------------------------------------------
-No Breaks
-----------------------------------------------*/
.no-breaks br {
  display: none; }

/*----------------------------------------------
- Filters
-----------------------------------------------*/
.greyscale {
  filter: grayscale(100%); }

.darken {
  opacity: 0.3;
  background-color: #000; }

/*----------------------------------------------
-Seperators (hr)
-----------------------------------------------*/
.sep-center,
.sep {
  position: relative;
  border: 0;
  height: 1px;
  width: 3em;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.8); }

.sep-center {
  margin: 1em auto; }

/*----------------------------------------------
-Seperator Colod Modifiers
-----------------------------------------------*/
.sep--dark {
  background-color: rgba(0, 0, 0, 0.8); }

.sep--grey {
  background-color: #d7d7d7; }

.sep--white {
  background-color: rgba(255, 255, 255, 0.8); }

/*----------------------------------------------
--Page Fade In
-----------------------------------------------*/
.fade-in {
  animation: fade-in ease-in-out 1s both; }

.fade-in-page {
  animation: fade-in ease-in-out 1.3s forwards; }

/*----------------------------------------------
--Fade Out
-----------------------------------------------*/
.fade-out {
  animation: fade-in ease-in-out 1s both; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*----------------------------------------------
--Fade Up
-----------------------------------------------*/
.fade-up {
  animation: fade-up ease-in-out 1s .4s both; }

@keyframes fade-up {
  0% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0px); } }
/*----------------------------------------------
--Fade Down
-----------------------------------------------*/
.fade-down {
  animation: fade-down ease-in-out 1s .4s both; }

@keyframes fade-down {
  0% {
    transform: translateY(-150px); }
  100% {
    transform: translateY(0px); } }
/*----------------------------------------------
--Fade In Left
-----------------------------------------------*/
.fade-left {
  animation: fade-left ease-in-out 1s .1s both; }

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
/*----------------------------------------------
--Fade In Right
-----------------------------------------------*/
.fade-right {
  animation: fade-right ease-in-out 1s .1s both; }

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
/*----------------------------------------------
--Slide In Left
-----------------------------------------------*/
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
/*----------------------------------------------
--Slide In right
-----------------------------------------------*/
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
/*----------------------------------------------
--Zoom
-----------------------------------------------*/
.scale-in {
  transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  animation: zoom-in ease-in-out 5s 0s; }

@keyframes scale-in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
/*----------------------------------------------
--Zoom
-----------------------------------------------*/
.zoom-in {
  transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  animation: zoom-in ease-in-out 5s 0s; }

@keyframes zoom-in {
  0% {
    transform: scale(1) rotate(0deg); }
  100% {
    transform: scale(1.4) rotate(3.2deg); } }
/*----------------------------------------------
-Scroll Animations
@description: animations triggered when in viewport, using data attributes
@see: js/vendor/waypoints.js
@see: js/component/scroll-animations.js
-----------------------------------------------*/
/*----------------------------------------------
-Data-Scroll: Fade-In
-----------------------------------------------*/
[data-scroll="fade-in"] {
  will-change: opacity; }
  @media (min-width: 54em) {
    [data-scroll="fade-in"] {
      opacity: 0; } }
  [data-scroll="fade-in"].animated {
    opacity: 1;
    transition: opacity 0.5s ease; }

/*----------------------------------------------
-Data-Scroll: fade-up
@description: Simple fade up and in on entrance
-----------------------------------------------*/
[data-scroll="fade-up"] {
  will-change: opacity; }
  @media (min-width: 54em) {
    [data-scroll="fade-up"] {
      opacity: 0; } }
  [data-scroll="fade-up"].animated {
    animation: slide-up 0.5 cubic-bezier(0.19, 1, 0.22, 1) both;
    opacity: 1;
    transition: opacity 0.7s ease; }

/*----------------------------------------------
-Data-Scroll: fade-up-stagger
@description: A staggered fade up and in on entrance
-----------------------------------------------*/
[data-scroll="fade-up-stagger"] {
  will-change: opacity, transform; }
  @media (min-width: 54em) {
    [data-scroll="fade-up-stagger"] > * {
      position: relative;
      opacity: 0;
      transform: translateY(50%); } }
  [data-scroll="fade-up-stagger"].animated > * {
    opacity: 1;
    transform: translateY(0em);
    transition: opacity 2s ease, transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(1) {
      transition-delay: 0.15s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(2) {
      transition-delay: 0.3s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(3) {
      transition-delay: 0.45s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(4) {
      transition-delay: 0.6s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(5) {
      transition-delay: 0.75s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(6) {
      transition-delay: 0.9s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(7) {
      transition-delay: 1.05s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(8) {
      transition-delay: 1.2s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(9) {
      transition-delay: 1.35s; }
    [data-scroll="fade-up-stagger"].animated > *:nth-child(10) {
      transition-delay: 1.5s; }

/*----------------------------------------------
-No Javascript fallback
-----------------------------------------------*/
.no-js [data-scroll] {
  opacity: 1; }
.no-js li {
  opacity: 1; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
