/*----------------------------------------------   
--Disable css hovers on scroll for css interactions
-----------------------------------------------  */
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

/*----------------------------------------------   
--Fade Images on hover
-----------------------------------------------  */
.fade-img,  
a.fade-img img{
	opacity: 1;
 @include transition(opacity 1.5s ease-out);
  
 &:hover{
  opacity: .7;
  @include transition(opacity 1.5s ease-out);
 }
}


/*----------------------------------------------   
--Fade Me on scroll in view
-----------------------------------------------  */
.js-fademe, .js-fademe-late{
  opacity: 1;
  @include media($mq-med) {
  opacity: 0
  }
}
.no-js .js-fademe, .no-js .fademe-late{
  opacity: 1;
}

/*----------------------------------------------   
--Fade Ins, including a sexy ass page fade
-----------------------------------------------  */

.fade-in {
 @include animation(fade-in ease-in-out .75s both);
}
.fade-in-page {
 @include animation(fade-in ease-in-out 1.3s both);
}
@include keyframes(fade-in) {
 0%{
   opacity: 0
 }
 100%{
   opacity: 1
 }
}

/*----------------------------------------------   
--Fade Up
-----------------------------------------------  */
.fade-up{
  @include animation(fade-up ease-in-out 1s .4s both);
}

@include keyframes(fade-up) {
  0%{
    @include transform(translateY(50px));
  }
  100%{
    @include transform(translateY(0px));
  }
}

/*----------------------------------------------   
--Fade Down
-----------------------------------------------  */
.fade-down{
  @include animation(fade-down ease-in-out 1s .4s both);
}

@include keyframes(fade-down) {
  0%{
    @include transform(translateY(-150px));
  }
  100%{
    @include transform(translateY(0px));
  }
}
/*----------------------------------------------   
--Nav Down
-----------------------------------------------  */
.nav-down{
  @include animation(fade-down ease-in-out 1s .4s both);
}

@include keyframes(nav-down) {
  0%{
    @include transform(translateY(-$header-height));
  }
  100%{
    @include transform(translateY(0px));
  }
}

/*----------------------------------------------   
--Fade In Left
-----------------------------------------------  */
.fade-left{
  @include animation(fade-left ease-in-out 1s .1s both);
}
@include keyframes(fade-left) {
  0%{
    opacity: 0;
    @include transform(translateX(-150px));
  }
  100%{
    opacity: 1;
    @include transform(translateX(0px));
  }
}

/*----------------------------------------------   
--Fade In Right
-----------------------------------------------  */
.fade-right{
  @include animation(fade-right ease-in-out 1s .1s both);
}

@include keyframes(fade-right) {
  0%{
    opacity: 0;
    @include transform(translateX(150px));
  }
  100%{
    opacity: 1;
    @include transform(translateX(0px));
  }
}

/*----------------------------------------------   
--Zoom
-----------------------------------------------  */
.zoom-in {
  @include animation(zoom-in ease-in-out 5s 0s);
  tansform:translate3d(0,0,0);
}

@include keyframes(zoom-in) {
 50%{
   @include transform(scale(1.4) rotate(3.2deg));
 }
}