/*----------------------------------------------   
--Boxes

-For bg colors, use: bg-white, bg-alpha, bg-beta, bg-grey, etc.
-Colors and Bgs defined in modules/_colors.scss with variables in settings/_config.scss
-----------------------------------------------  */
.box{
	background-color: #fff;
	border:	1px	solid	#dedede;
	//padding: 0 0 1em;
	margin-bottom:	1em;
	line-height: 1.5;
	border-radius:	$base-borderradius;
	
	h1, h2, h3, h4, h5, p, pre, .icon{
		margin:	0;
		padding-bottom:	0;
	}

	/*----------------------------------------------   
	--Boxes: States
	-----------------------------------------------  */
	
	&.no-border{
		border:	 0;
	}
	&.has-shadow{
		box-shadow:0 1px 2px rgba(0,0,0,0.2);
	}
	&.stacked{
		border:	0;
	  border-top: 1px solid #ddd;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
	  	0 4px 0 -1px #FFF, 
	  	0 4px 1px 0px rgba(0, 0, 0, 0.19), 
	  	0 8px 0 -2px #FFF, 
	  	0 8px 2px -1px rgba(0, 0, 0, 0.17);
	}
	
	/*----------------------------------------------   
	--Box sizes
	-----------------------------------------------  */
	&.box-sm{
		padding:	1.5em;
	}
	&.box-med{
		padding:	2em;
	}
	&.box-large{
		padding:	2.5em;
	}
	
	&.box-ib{
		display:	inline-block;
	}
	
	&.box-inset{
		border:	1px solid #e3e3e3;
		background-color:	$color-light;
		box-shadow:	inset 0 1px 1px rgba(0,0,0,.05);
	}

/*----------------------------------------------   
--Box Sections
-----------------------------------------------  */
	.box-header, header,
	.box-footer, footer{
		padding:	1em 0.7em 1.25em;
	}
	
	.box-header, header{
		&.has-border{
			border-bottom:	1px	solid	#ddd;
		}
	}
		.box-content{
			padding:	1.5em 0.7em;
			border-bottom:	1px	solid	#ddd;
			border-top:	1px	solid	#ddd;
		}
	}
	
	/*----------------------------------------------   
	--Cards
	-----------------------------------------------  */
	.card{
		background-color: #fff;
		margin-bottom:	1em;
		line-height: 1.5;
		border-radius:	$base-borderradius;
		box-shadow:0 1px 2px rgba(0,0,0,0.2);
		
		img:first-child{
			border-top-left-radius: $base-borderradius;
			border-top-right-radius:	$base-borderradius;
		}
		
	
	/*----------------------------------------------   
	--Cards: Parts - Header
	-----------------------------------------------  */
	.card-header, header{
  	padding:	.75em $inner-pad;
  	border-bottom:	1px	solid	#ddd;
  	
  	h2, h4, h5{
  	  margin: 0;
  	}
  	
  	&.no-border{
  		border-bottom:	0;
  	}
  	
  	img{
  		border-top-left-radius: $base-borderradius;
  		border-top-right-radius:	$base-borderradius;
  	}
  }
  
  /*----------------------------------------------   
  --Cards: Parts - Content
  -----------------------------------------------  */
  .card-content{
  	padding:	1em 0.7em 1.25em;
  	font-size:	95%;
  	
  	h1, h2, h3, h4, h5{
  		margin:	0;
  	}
  }
  
  /*----------------------------------------------   
  --Cards: Parts - Footer
  -----------------------------------------------  */
  .card-footer, footer{
  	padding:	.35em 0.7em;
  	border-top:	1px	solid	#ddd;
  
  	
  	ul{
  		padding:	0;
  		margin:	0;
  		@include cf;
  		li{
  			display:	inline;
  			vertical-align:	middle;
  			list-style:	none;
  		}
  		li.avatar img, .avatar{
  				width:	1.7em;
  				height:	1.7em;
  				border-radius:	100%;
  				margin-right:	0.5em;
  				float:	left;
  		}
  		li a{
  			font-size: 90%;
  			padding: 0;
  			margin: 0;
  			display: inline;
  			vertical-align: top;
  		}
  		li .icon{
  			font-size:	100%;
  		}
  	}
  }
  
 p{   
 	font-size: 85%;
  margin: 0;
 }
 img{
   width: 100%;
   margin: 0 auto;
   display: block;
  }
}