%btn{
  font-family: $font-header;
  text-align: center;
  font-size: 100%;
  font-weight: 600;
  line-height: $base-lineheight;
  display: inline-block;
  vertical-align: middle;
  margin: .1em 0 1em;
  padding: 0.6em 3.25em;
  text-decoration: none; 
  width: auto;
  cursor: pointer;
  -webkit-appearance:none;
  border: 0;
  border-radius:  $base-borderradius;
  @include transition(background-color, 0.25s, ease-in);
}


@mixin btn-theme($btn-bg, $btn-color, $btn-hoverbg:"",$btn-hover-color:"") {
  color: $btn-color;
  background-color: $btn-bg;

  &:hover{
    cursor: pointer;
    color: $btn-color;
    @if $btn-hoverbg != ""{
      background-color: $btn-hoverbg;
    } 
    @else{
    background-color: lighten($btn-bg,10);
    }
    @if $btn-hover-color != ""{
      color: $btn-hover-color;
    }

  }

  &:active{
    background-color: darken($btn-bg,5); 
  }
  @extend %btn
}

.btn-alpha{
  @include btn-theme($color-alpha, #fff);
}

.btn-beta{
  @include btn-theme($color-beta, #fff);
}

.btn-white{
  @include btn-theme(#fff, $color-beta, $color-beta, #fff);
}

.btn-small{
    font-size: 90%;
    padding: 0.5em 1.5em;
  }
.btn-full{
    width: 100%;
    display:  block;
  }
