
/*----------------------------------------------   
--Code - no prisim
-----------------------------------------------  
code,kbd,pre,samp {
font-family: monospace, serif;
_font-family: 'courier new', monospace;font-size: 1em;
}
pre {font-family: monospace;white-space: pre;white-space: pre-wrap;word-wrap: break-word;line-height:1.9;color: #1E315A;background: #B6DBE4;text-shadow: -1px 1px 0px rgba(255, 255, 255, 0.3);margin: 0 0 2em;padding: 1.4em 1em 1.6em 2em;white-space: pre-wrap;overflow: hidden;}
*/

/*----------------------------------------------   
--With Prisim
-----------------------------------------------  */
code, kbd, pre, samp {
    font-family: monospace,  serif;
    _font-family: 'courier new',  monospace;
    font-size: 1em;
    line-height: $base-lineheight;
}

pre code {
   white-space: -moz-pre-wrap;
   white-space: pre-wrap;
}

pre {
  white-space: pre-wrap !important;
  font-size: 0.825em;
  padding: 1.65rem;
  margin: 0 0 1.5em;
  background: #021321;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
  border-radius: $base-borderradius;
  position: relative;
}

code {
    color: $color-grey;
    white-space:  pre !important;
    font-family: monospace;
}

code[class*="language-"], pre[class*="language-"] {
   font-family: Monaco,  'Andale Mono',  monospace;
   direction: ltr;
   text-align: left;

   word-spacing: normal;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 .lt-ie9 code[class*="language-"], .lt-ie9 pre[class*="language-"] {
     color: #a6a6a6;
 }
 
 pre[class*="language-"], :not(pre)>code[class*="language-"] {
     background: #021321;
 }
 
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;
     border-radius: 0.333333em;
     box-shadow: 1px 1px .5em black inset;
 }

.no-js  pre {
    overflow: auto;
}

 figcaption {
    margin-bottom: 0;
}
 
abbr {
   font-variant: small-caps;
   font-weight: 600;
   text-transform: lowercase;
   color: #color-grey;
}


.token.property, 
.token.tag, 
.token.boolean, 
.token.number {
   color: #5e8cba;
 }
 
 .token.comment, 
 .token.prolog, 
 .token.doctype, 
 .token.cdata {
     color: #444;
 }
 .token.punctuation {
     color: #999;
 }
 .namespace {
     opacity: .7;
 }
 .token.property, 
 .token.tag, 
 .token.boolean, 
 .token.number {
     color: #5e8cba;
 }
 .token.selector, 
 .token.attr-name, 
 .token.string {
     color: #f95165;
 }
 .token.operator, 
 .token.entity, 
 .token.url, 
 .language-css 
 .token.string, 
 .style .token.string {
     color: #FFF;
 }
 .token.atrule, 
 .token.attr-value, 
 .token.keyword {
     color: #5e8cba;
 }
 .token.regex, .token.important {
     color: #e90;
 }
 .language-scss .token.variable {
     color: #A78F8F;
 }
 .language-scss .token.statement {
     color: #FF1000;
 }
 .token.important {
     font-weight: 600;
 }
 .token.entity {
     cursor: help;
 }
