
/*----------------------------------------------   
--Links
-----------------------------------------------  */
a{
  @include link-styles($color-alpha);
}

.link-line, .link-more{
  font-weight: 600;
  @include link-line-b();
}

.bg-alpha .link-more{
  @include link-line-b(#fff, #fff);
}
/*----------------------------------------------   
--Arrow Link
-----------------------------------------------  */
.arrowlink:after, .link-arrow:after {
    content:  "→";
}

/*----------------------------------------------   
--Color Classes
-----------------------------------------------  */

.color-alpha{
  color: $color-alpha;
}

.color-beta{
  color: $color-beta;
}

.bg-alpha{
   background-color: $color-alpha;
}

.bg-beta{
  background-color: $color-beta;
}

.bg-dark{
  background-color: $color-dark;
}

.bg-grey{
  background-color: $color-grey;
}

.bg-alpha, .bg-beta, .bg-delta, .bg-dark{
  *:not(.btn-white), figure.fig-stat span, figure.fig-stat figcaption{
    color: #fff;
  }
}

.bg-lightgrey{
  background-color: $color-lightgrey;
}

.bg-dark{
  background-color: $color-dark;
}

.bg-light{
  background-color: $color-light;
}
.bg-white{
  background-color: #fff;
}
/*----------------------------------------------   
--Overlay: Dark
-----------------------------------------------  */
.overlay-dark{
  @include overlay;
}

/*----------------------------------------------   
--Overlay: Gradient
-----------------------------------------------  */
.overlay-gradient{
  @include overlay-gradient;
}
/*----------------------------------------------   
--Light & Dark Themes
-----------------------------------------------  */
.light *{
  color: $color-darkgrey;
}

.dark *{
  color: #fff;
}

/*----------------------------------------------   
--Selection
-----------------------------------------------  */

*::selection{background: $color-alpha;color: white;text-shadow: none;}
.highlight{background:$color-alpha}
