
/*----------------------------------------------   
--Links
-----------------------------------------------  */
a{
  @include link-styles($color-beta);
}

a.link-line{
	@include link-line();
}
/*----------------------------------------------   
--Arrow Link
-----------------------------------------------  */
.arrowlink:after, .link-arrow:after {
    content:  "→";
}

/*----------------------------------------------   
--Color Classes
-----------------------------------------------  */

.color-alpha{
  color: $color-alpha;
}

.color-beta{
  color: $color-beta;
}

.bg-alpha{
   background-color: $color-alpha;
}

.bg-beta{
  background-color: $color-beta;
}

.bg-dark{
  background-color: $color-dark;
}

.bg-grey{
  background-color: $color-grey;
}

.bg-lightgrey{
  background-color: $color-lightgrey;
}

.bg-dark{
  background-color: $color-dark;
}

.bg-light{
  background-color: $color-light;
}


/*----------------------------------------------   
--Light & Dark Themes
-----------------------------------------------  */
.light *{
	color: $color-darkgrey;
}

.dark *{
	color: #fff;
}

/*----------------------------------------------   
--Selection
-----------------------------------------------  */

*::selection{background: $color-alpha;color: white;text-shadow: none;}
.highlight{background:$color-alpha}
