/*----------------------------------------------   
--Dividers
-----------------------------------------------  */
hr{
  border:solid #ddd;
  border-width:1px 0 0;
  clear:both;
  margin:1.5em 0;
  height:0
}

hr.sep {
  display: block;
  width: 40%;
  margin: 1em auto;
  border: 1px solid $color-alpha;
}

hr.sep-thin {
  display: block;
  width: 60%;
  margin: 0.6em auto;
  border-top: 1px solid $color-alpha;
}

hr.sep-thick {
  display: block;
  width: 40%;
  margin: 2em auto 3em;
  border: 2px solid  $color-alpha;
}

hr.sep-left{
  margin: .7em 0;
  width: 40%;
  display: block;
  border: 1px solid $color-alpha;
}

hr.sep-thin-left{
  margin: .7em 0;
  width: 40%;
  display: block;
  border-top: 1px solid $color-alpha;
}

.four-dots .dot {
  display: inline-block;
  margin: 0 auto;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  margin-right: 15px;
}
.four-dots.light .dot{background: $color-light;}
.four-dots.grey .dot{background: $color-grey;}
.four-dots.primary .dot{background: $color-alpha;}
.four-dots.secondary .dot{background: $color-beta;}

