/*----------------------------------------------   
--Micro Clearfix - also added to row class
-----------------------------------------------  */
.cf, .row {
 @include cf;
}

/*----------------------------------------------   
-Row Class (container)
-----------------------------------------------  */
.row{  
 width: 94%;
 max-width: $row-max-width;
 margin-left: auto;
 margin-right: auto;
 
 @media (min-width: $mq-med) {
  width: 94%;
 }
 @media (min-width: $mq-large) {
  max-width: 90%;
 }
 @media (min-width: $mq-xlarge) { 
  max-width: 80%;
 }
 @media (min-width: $mq-xxlarge) {
  max-width: $row-max-width;
 }
}

/*----------------------------------------------   
-Row XL
-----------------------------------------------  */
 .row-xl{
  @extend .row;
  @media (min-width: $mq-med) {
   max-width: 90%; 
  }
 }

/*----------------------------------------------   
-Row XXL
-----------------------------------------------  */
.row-xxl{
 @extend .row;
 @media (min-width: $mq-med) {
  width: 98%;
  max-width: 98%;
 }
}

/*----------------------------------------------   
-Row Full Width
-----------------------------------------------  */
.row-full{
 @extend .row;
 width: 100%;
 max-width: 100%;

 .cols{
  padding-left: 6%;
  padding-right: 6%;
 }
}

 /*----------------------------------------------   
 -Row with Col padding
 -----------------------------------------------  */
.row.g-full{
 padding-left:$col-padding;
 padding-right: $col-padding;
}

/*----------------------------------------------   
-Row : Nested
-----------------------------------------------  */
.row .row { 
 width:auto; 
 max-width:none; 
 min-width:0; 
 margin: 0 -$base-gutter; 
 
 @media (min-width: $mq-med) {
  width:auto; 
  max-width:none; 
  min-width:0; 
  margin:0 -$base-gutter;
 }
}

/*----------------------------------------------   
-Columns
-----------------------------------------------  */
.cols{ 
 float:left;
 min-height:1px;
 position:relative;
 width: 100%;

 .row &{
  padding-left:$col-padding;
  padding-right:$col-padding;
 }
}

/*----------------------------------------------   
-Row with half the paddings
-----------------------------------------------  */
.half-pad .row, .half-pad .row .cols { 
 padding: 0 $base-gutter/2;
}

/*----------------------------------------------   
-Row with no padding cols
-----------------------------------------------  */
.row.no-pad .cols { 
 padding:0
}

/*----------------------------------------------   
-Cols: Float last col right
-----------------------------------------------  */
[class*="cols"]+[class*="cols"]:last-child { 
 @media (min-width: $mq-med) { 
  float:right
 }
}
/*----------------------------------------------   
-Grid System
-----------------------------------------------  */
@for $i from 1 through $cols {
 //Columns "xsm-*"  
 .xsm-#{$i} {
  width: ((100 / $cols) * $i) * 1%;
 }
}
/*----------------------------------------------   
-Grid Cols Main: after med
-----------------------------------------------  */
@media (min-width: $mq-med) {
 @for $i from 1 through $cols {
  //Columns "g-*"  
  .g-#{$i} {
   width: ((100 / $cols) * $i) * 1%;
  }
  // Offsets "os-*"
  .offset-#{$i}{
   margin-left: ((100 / $cols) * $i) * 1%;
  }
   //source order reverse: "pull-*"
  .pull-#{$i}{
   left: ((100 / $cols) * $i) * 1%;
  }
  //source order reverse: "push-*""
  .push-#{$i}{
   right: ((100 / $cols) * $i) * 1%;
  }
 }
}
/*---------------------------------------------   
-Source Reverse: after med for half/half
----------------------------------------------- */
.source-reverse{
 .cols:first-child{
  @media (min-width: $mq-med) {
   right: -50%;
  }
 }
 .cols:last-child{
  @media (min-width: $mq-med) {
   left: -50%;
  }
 }
}

/*---------------------------------------------   
-Containerless Grid via Table Cell
----------------------------------------------- */
.has-table{
 @include cf;

 .row-table{
  display: block;
  width: 100%;
  max-width: none;
  min-height: 32em;
  width: 100%;
  overflow-x: hidden;
  
  @media (min-width: $mq-med) {
   display: table;
  }

 
 .half, .g-6{
  padding: 10% $col-padding;
  float: none;
  width: 100%;
  overflow-x:hidden;
  background-color: #fff;
  position: relative;
  
  @media (min-width: $mq-med) {
   padding: 6% 5%;
   width: 50%;
   display: table-cell;
   vertical-align: middle;
  }

  &.has-bgimg{
   background-size: cover;
   background-position: 50%;
   min-height: 20em;
   background-repeat: no-repeat;
  }
  .has-content, .content{
   vertical-align: middle;
   padding: 5%;
   margin: 0 auto;
  }
 }
}
/*---------------------------------------------   
-Reverse 50/50 and maintain source order. 
-For dymaic instances, use &:nth-of-type(odd) / &:nth-of-type(even)
----------------------------------------------- */
 &.is-reversed{
  .half:first-child{
   @media (min-width: $mq-med) {
    right: -50%;
   }
  }
  .half:last-child{
   @media (min-width: $mq-med) {
    left: -50%;
   }
  }
 }

/*---------------------------------------------   
--Has Padding
----------------------------------------------- */
 &.has-pad{
  padding: 0 2%;
  background-color: #fff;
 }
}


/*---------------------------------------------   
Simple Img Grid
----------------------------------------------- */
.img-grid{
 @include cf;
 
 img.left, img.right{
  width: 50%;
 }
 img.left{
  float: left;
 }
 img.right{
  float: right;
 }
 img.full{
  width: 100%;
  float: left;
  margin: 0;
 }
 
 &.has-sep{
  padding-top: .25em;
 
  img.left, img.right{
   padding-bottom: 0.25em;
  }
 
  img.left{
   padding-right: 0.125em;
  }
  img.right{
   padding-left: 0.125em;
  }
  img.full{
   padding-bottom: 0.25em;
  }
  .g-4{
   padding-right: .25em;
  }
  .last{
   margin-right: -0.25em;
  }
 }
}
