/*----------------------------------------------   
--Positioning
-----------------------------------------------  */

.left{float:left}
.right{float:right}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}

.cols.centered, .centered{ 
  float:none;
  margin:0 auto;
  display: block;
}

.center-all{
	@include center-all;
}
/*----------------------------------------------   
--Vertical Center
-----------------------------------------------  */
.v-center{
  @include v-center;
}
/*----------------------------------------------   
--Inline Lists
-----------------------------------------------  */
.list-inline {
 @include list-inline;
}

/*----------------------------------------------   
--List-nav
-----------------------------------------------  */
.list-nav{
	@include list-nav(margin-right, 1em);
}

/*----------------------------------------------   
--List-vert
-----------------------------------------------  */
.list-vert{
	@include list-vert(2, 1em);
}

/*----------------------------------------------   
--Stop line breaks Turncate 
-----------------------------------------------  */
.turncate{
  @include truncate;
}

/*----------------------------------------------   
-Margins, Paddings
-----------------------------------------------  */
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
/*----------------------------------------------   
--L to R Scroll on mobile
-----------------------------------------------  */
@media (max-width: $mq-xsmall) {
	.scroll-x {
		overflow-x: scroll;
	}
}