/*----------------------------------------------   
--Images
-----------------------------------------------  */
img.full-center,{
  width:100%;
  margin:0 auto;
  display:block;
}

figure img, figure, img.respond{
  max-width:100%;
  width: 100%;
  height:auto
}

/*----------------------------------------------   
--SVG-Wrap for rwd
-----------------------------------------------  */
.svg-wrap {
	margin: 0 auto;
	width: 100%;
	position: relative;
}

/*----------------------------------------------   
--Maps
-----------------------------------------------  */
#map_canvas { 
	height: 100%; 
	min-height: 30em;
	margin: 0; 
	padding: 0;

		&::after{
			@media (max-width: $mq-med) {
				content: '';
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 99;
				background: transparent;
		}
	}
}
/*----------------------------------------------   
--Avatars
-----------------------------------------------  */
.avatar, .circle-img{
	width:	2.25em;
	border-radius:	100%;
	display:	inline;
	vertical-align:	middle;
	
	&.avatar-small{
		width:	.7em;
	}
}
/*----------------------------------------------   
--Avatars Square
-----------------------------------------------  */
.avatar-sq{
	border-radius:	none;
}
/*----------------------------------------------   
--Circle images
-----------------------------------------------  */
.circle-img{
	border-radius:	50%;
}

/*----------------------------------------------   
--Avatars sizes
-----------------------------------------------  */
.avatar.avatar-xsmall{
		width:	.7em;
		height:	.7em;
}
.avatar.avatar-smal{
		width:	1em;
		height:	1em;
}
.avatar.avatar-med{
		width:	3em;
		height:	3em;
}
.avatar.avatar-large{
		width:	5em;
		height:	5em;
}


/*----------------------------------------------   
--Flexible Video: wrap video inside flex-vid div.
Add vimeo class for vimeo or widscreen vids
-----------------------------------------------  */
.flex-vid{
  position:relative;
  padding-top:25px;
  padding-bottom:67.5%;
  height:0;
  margin-bottom:1.2em;
  overflow:hidden

  &.widescreen{
     padding-bottom:57.25%;
  }

  &.vimeo{
   padding-top:0;
   padding-bottom:56.5%;
  }
}  
  
.flex-vid iframe,
.flex-vid object,
.flex-vid embed,
.flex-vid video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}

@media only screen and (max-device-width:800px),only screen and (device-width:1024px) and (device-height:600px),only screen and (width:1280px) and (orientation:landscape),only screen and (device-width:800px),only screen and (max-width:767px){
.flex-vid{padding-top:0}
}


