
/*----------------------------------------------
--Unstyle a list
-----------------------------------------------*/
%list-unstyles {
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
}
/*----------------------------------------------
-Inline Lists
-----------------------------------------------*/
%list-inline{

  ul{
    list-style: none;
    display: block;

    li{
      margin-right:  1em;
      display: inline-block;
    }
  }
}

