//----------------------------------------------
//  MODULE MIXINS
//  Positioning
//  Backgrounds
//  Sections (mast)
//----------------------------------------------

//----------------------------------------------
//  Microclearfix
//----------------------------------------------
@mixin cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

//----------------------------------------------
//  abs-center()
//  @description: absolutely centers and element
//----------------------------------------------
@mixin abs-center($top:null,$bottom:null,$transform:null){
  position: absolute;
  left: 0;
  right: 0;
  @if $top{
    top: $top;
  }
  @if $bottom{
    bottom: $bottom;
  }
  @if $transform{
    transform: translate3d(0,$transform,0);
  }
  margin: 0 auto;
  text-align:center;
}



//----------------------------------------------
//  trans-center()
//  @description: vert & horz centering via transform
//----------------------------------------------
@mixin center-vh{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}


//----------------------------------------------
//  pseudo-element
//  Basic styles for positioning a psedu element
//  inside it's parent so it fills available space.
//----------------------------------------------
@mixin pseudo-element($zindex: 0) {
  z-index: $zindex;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


@mixin pseudo-hover($bg_color: null, $bg_color_hover: null){
  &:before{
    @include pseudo-element(-1);
    background-color: #fff;
    transform: scale(1);
    transition: transform 0.4s $ease-cb;
    //transform-origin: top;
  }

  &:hover:before{
    transform: scale(1.2);
    transition: transform 0.4s $ease-cb-2;
  }
  @if $bg_color_hover{
    &:hover:before{
      background-color: $bg_color_hover;
      transition: transform 0.5s $ease-cb;
    }
  }
}
