//----------------------------------------------
// Controls and Buttons
//----------------------------------------------
#wp-content-editor-tools{
  background-color: #eee;
}

#major-publishing-actions {
  background:#FFF;
  padding:0
}

#delete-action {
  float:none;
  padding:15px 0;
  text-align:center
}

#delete-action a {
  text-decoration:underline
}

#publishing-action {
  float:none;
  display:block;
  width:100%
}

#publishing-action .spinner {
  width:100%;
  background-position:top center;
  padding:5px 0
}

#publishing-action #publish {
  float:none;
  font-size:16px;
  height:auto;
  padding:10px;
  width:100%
}


#publishing-action #publish{
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  box-shadow:none;
  border:0
}

#wpwrap{

//----------------------------------------------
// Buttons
//----------------------------------------------
.wp-core-ui .button,.wp-core-ui .button-primary,.wp-core-ui .button-secondary {
  box-shadow:none;
  border:0
}

.wp-core-ui .button-primary {
    width: 8rem;
    height: 2.5rem;
    vertical-align: middle !important;
    text-align: center;
    line-height: 2.5rem;
    background-color: $color-alpha;
}

//----------------------------------------------
// ACF Buttons
//----------------------------------------------
.acf-image-uploader .acf-button, .preview.button {
  width: auto;
  height: 3em;
  width: 10em;
  margin: 0 0.5em;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.15);
  text-align: center;
  line-height: 2.3rem;
  background: #fdfdfd;
  transition: all 0.5s ease;

  &:hover{
    transition: all 0.5s ease;
  }
}
.preview.button{
  margin: 0;
}

//----------------------------------------------
// Page Titles
//----------------------------------------------
  a.page-title-action {
    background: #fff;
    padding: 0.5rem 0.6rem;
    background: background 0.4s ease;

    &:hover{
      background-color: $color-alpha;
      transition: background 0.4s ease;
    }
  }
}

//----------------------------------------------
// Edit Slug Box (appears below post titles)
//----------------------------------------------
#edit-slug-box {
  margin: 1em 0 1.5em;
}
