/*----------------------------------------------   
--Dash Widget
-----------------------------------------------  */
.widget{ 

  i{
    color: #ddd;
  }
  .sep{
    border-top: 1px solid #ddd;
    border-bottom: 0;
  }
}