//----------------------------------------------
// Admin: Text Editor Q Tags Toolbar
//----------------------------------------------
.wp-core-ui .quicktags-toolbar input.button.button-small {
  font-size:1em!important;
  height:3em!important;
  line-height:3em!important;
  min-width:2em!important;
  color:#111;
  background:#fff;
  border:1px solid #000;
  box-shadow:none
}

.wp-media-buttons .button {
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    background:$color-alpha;
    height: auto;
    padding: 0.3em 2em;
    box-sizing: none;
    box-shadow: none;
    color: #fff;
    border: 1px;
    text-align: center;

    &:hover{
      background:darken($color-alpha, 10);
      color: #fff;
    }
}

//----------------------------------------------
// Editor: Toolbar Buttons
//----------------------------------------------
.postarea{
 
 .wp-core-ui .quicktags-toolbar input.button.button-small:hover {
  background:#fff;
  color: $color-delta;
 }
 
 a#insert-media-button {
  background:#000;
  box-shadow:none;
  color:#fff;
  min-height:3em;
  line-height:1em;
  padding:1em 3em
 }

 a#insert-media-button:hover {
  background:#09f
 }

.wp-media-buttons .add_media span.wp-media-buttons-icon:before {
  font:400 18px/1 dashicons;
  speak:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  content:'\f104';
  color:#fff;
  top:-3px;
  position:relative
 }
}


.user-comment-shortcuts-wrap, .show-admin-bar, .user-rich-editing-wrap, .user-description-wrap, .user-url-wrap {
  display:block !Important;
}

//----------------------------------------------
// TINY MCE
//----------------------------------------------
body#tinymce {
  font-size: 95% !important;
  margin: 1em 2em !important;
  line-height: 1.7 !important;
}  

#wp-content-wrap{
  
  //toolbar
  div.mce-toolbar-grp {
    background:#fff;
  }
  //button color
  .mce-menubtn button{
    color: #111;
  }
  // toolbar button icons
  .mce-toolbar .mce-btn i {
    text-shadow: none;
    color: #111;
    font-size: 1.25rem;
    transition: color 0.15s ease;
  }
  /* toolbar button icons hover */
  .mce-btn:hover i,  .mce-btn:hover button {
    color: $color-delta !Important;
    transition: color 0.15s ease;
  }
  /* toolbar button hover */
  .mce-toolbar .mce-btn-group .mce-btn:focus, .mce-toolbar .mce-btn-group .mce-btn:hover, .qt-dfw:focus, .qt-dfw:hover {
    background: #eee !Important;
    border-color: transparent !Important;
    color: #77BCEA;
    -webkit-box-shadow: !Important;
    box-shadow: none !Important;
    outline: 0;
  }

  /* Increase padding of toolbar icons, since now we only have a few */
  .mce-toolbar .mce-btn button, .qt-dfw {
    padding: 3px 6px !important;
  }
  /* dropdown color */
  button#mceu_0-open {
    //color: #fff;
  }

/* dropdown bg and border */
  .mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
    background: #fff !Important;
    border: 1px solid rgba(255,255,255,0.5) !Important;
    color: #111 !important;
  }
  .mce-panel.mce-menu  {
    //background: #000;
  }
  /* dropdown border */
  .mce-panel.mce-menu {
    border: transparent !important;
  }
  /* dropdown carent */
  .mce-panel .mce-btn i.mce-caret {
    //border-top: 6px solid #aaa;
  } 
  /* dropdown content */
  .mce-menu-item .mce-ico, .mce-menu-item .mce-text {
    color: #111 !important;
    font-size: 1em !Important;
    font-family: helvetica, arial, sans-serif !important;
    font-weight: 400 !important;
  }

}

#poststuff{

  .quicktags-toolbar{
    background-color: #fff;
  }
  input#qt_content_code,
  input#qt_content_figcaption,
  input#qt_content_close,
  input#qt_content_more,
  input#qt_content_ins,
  input#qt_content_del,
  input#qt_content_figcaption
   {
      display: none;
  }

  // ACF Inputs
  .acf-input{
    [value="ins"],
    [value="Caption"],
    [value="del"],
    [value="more"],
    [value="code"],
    [value="close tags"],
    [value="img"]
    {
      display: none;
    }
  }

}