//----------------------------------------------
// Main PageWrapper
//----------------------------------------------
#wpwrap{
  margin-top: 1.3em;
}

//----------------------------------------------
// Main Content Wrapper
//----------------------------------------------
#wpcontent{
  margin-left: $sidebar-width;
}

//----------------------------------------------
// Footer Wrapper
//----------------------------------------------
#wpfooter{
  padding-left: 5em;
  padding-bottom: 1em;
}
