/*----------------------------------------------
--Fade Ins, including a sexy ass page fade
-----------------------------------------------*/
.ani-fade-in {
  animation: fade-in ease-in-out 1s both;
}

.ani-fade-in-page {
  animation: fade-in ease-in-out 1.3s forwards;
}

.js-fade-in{
  @media(min-width: $mq-med){
    opacity:0;
    //animation: fade-in ease-in-out 1s both;
  }
}

.no-js{
  .js-fade-in{
    opacity:1;
  }
  li{
    opacity:1;
  }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


/*----------------------------------------------
--Fade Out
-----------------------------------------------*/
.ani-fade-out {
  animation: fade-in ease-in-out 1s both;
}
@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/*----------------------------------------------
--Fade Up
-----------------------------------------------*/
.ani-fade-up {
  animation: fade-up ease-in-out 1s .4s both;
}

@keyframes fade-up {
  0%   { transform: translateY(50px); }
  100% { transform: translateY(0px); }
}

/*----------------------------------------------
--Fade Down
-----------------------------------------------*/
.ani-fade-down {
  animation: fade-down ease-in-out 1s .4s both;
}

@keyframes fade-down {
  0%   { transform: translateY(-150px); }
  100% { transform: translateY(0px); }
}

/*----------------------------------------------
--Fade In Left
-----------------------------------------------*/
.ani-fade-left {
  animation: fade-left ease-in-out 1s .1s both;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*----------------------------------------------
--Fade In Right
-----------------------------------------------*/
.ani-fade-right {
  animation: fade-right ease-in-out 1s .1s both;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

/*----------------------------------------------
--Zoom
-----------------------------------------------*/
.ani-scale-in {
  @include engine3d;
  animation: zoom-in ease-in-out 5s 0s;
}

@keyframes scale-in {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
}
/*----------------------------------------------
--Zoom
-----------------------------------------------*/
.ani-zoom-in {
  @include engine3d;
  animation: zoom-in ease-in-out 5s 0s;
}

@keyframes zoom-in {
  0%   { transform: scale(1) rotate(0deg); }
  100% { transform: scale(1.4) rotate(3.2deg); }
}
