//----------------------------------------------
//  Button Theme
//  Default Button styler.
//  @group    buttons
//----------------------------------------------
%btn-theme{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  @extend %font-links;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.4s $ease-cb-2;
}

//----------------------------------------------
//  Button Mixin
//  @group    buttons
//----------------------------------------------
@mixin btn($color: #fff, $bg_color: $color-alpha, $color_hover:#fff, $bg_color_hover:lighten($color-alpha, 10)){
  @extend %btn-theme;
  color: $color;
  background-color: $bg_color;
  padding: 1.555em 3em 1.355em;
  line-height: 1;
  border-radius: 4px;
  min-width: 18em;
  
  &:hover{
    color: $color_hover;
    background-color: $bg_color_hover;
    transition: all 0.6s ease;
  }
}

//----------------------------------------------
//  Button Line Mixin
//  @group buttons
//----------------------------------------------
@mixin btn-line($color){
  @extend %btn-theme;
  color: $color;
  
  &:after{
    content: '';
    position: absolute;
    bottom:-0.25em;
    left: 0;
    right: 0;
    margin:0 auto;
    height: 1px;
    width: 0rem;
    background-color: $color;
    transition: all 0.6s ease;
  }

  &:hover, a:hover &{
    color: $color;
    transition: all 0.6s ease;

    &:after{
      @media (min-width: $mq-med){
        width: 99%;
        transition: all 0.6s ease;
      }
    }
  }
}


//----------------------------------------------
//  Button Line
//  Minimal, Line-based button
//
//  @requires {mixin} btn-line() tools/mixins-buttons
//  @group    buttons
//----------------------------------------------
.btn-line{
  &.btn--white, {
    @include btn-line(#fff);
  }
  &.btn--alpha{
    @include btn-line($color-alpha);
  }
  &.btn--beta{
    @include btn-line($color-beta);
  }
}

//----------------------------------------------
//  Btn
//  Basic button styles
//
//  @requires {mixin} btn()
//  @group    buttons
//----------------------------------------------
.btn{
  @include btn();

  &--beta{
     background-color: $color-beta;

    &:hover{
      background-color: $color-alpha;
    } 
  }
}
