/*----------------------------------------------
--Butan
-----------------------------------------------*/

.btn {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: .5em 1em;
  font-family: $font-header;
  text-align: center;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.2;
  border: 0;
  border-radius: $base-borderradius;
  transition: background-color .25s ease-in;
  cursor: pointer;
  -webkit-appearance: none;
}

/*----------------------------------------------
--Size modifiers
-----------------------------------------------*/
.btn--small {
  font-size: .9em;
  padding: .5em 1.5em;
}

.btn--full {
  display: block;
  width: 100%;
}

/*----------------------------------------------
--Color modifiers
-----------------------------------------------*/
@mixin btn-theme($btn-bg, $btn-color, $btn-hoverbg:"", $btn-hover-color:"") {
  color: $btn-color;
  background-color: $btn-bg;

  &:hover {
    cursor: pointer;
    color: $btn-color;
    @if $btn-hoverbg != "" {
      background-color: $btn-hoverbg;
    } 
    @else{
      background-color: lighten($btn-bg, 10%);
    }
    @if $btn-hover-color != "" {
      color: $btn-hover-color;
    }
  }

  &:active {
    background-color: darken($btn-bg, 5%); 
  }
}

.btn--alpha {
  @include btn-theme($color-alpha, #fff);
}

.btn--beta {
  @include btn-theme($color-beta, #fff);
}

.btn--white {
  @include btn-theme(#fff, $color-beta, $color-beta, #fff);
}
