//----------------------------------------------
//  Feeds
//
//  Post Index blocks
//
//  @group feeds
//-----------------------------------------------
.feeds{
  background-color: $color-lightgrey;

  &__grid{
    //would prefer % padding, but ff shits itself
    @include flex-grid(1,2, $pad:5em);
  }
}

.feed{
  min-height: 20em;
  border-bottom: 1px solid $color-grey;

  &__date{
    @extend %font-subtitle;
  } 

  &__title{
    @extend %font-subtitle;
    @extend %font-h5;
    margin: 0.5em 0 7%;

    @media (min-width: $mq-med){
      max-width: 80%;
    }  
  }

  &__excerpt{
    font-size: $font-small;
    margin: 0 0 7%;
  }
}
