/*----------------------------------------------
--Flexbox grid & other various layout helpers
--See bottom of file for various example usages
-----------------------------------------------*/
$flex-gutter: 0.25%;

/*----------------------------------------------
--Container & optional container modifiers
-----------------------------------------------*/
.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.flex--no-gutter {
  margin-right: -($flex-gutter);
  margin-left: -($flex-gutter);
}
// For the occasions where you want one row only
.flex--no-wrap {
  flex-wrap: nowrap;
}
/*----------------------------------------------
--Horizontal alignment of children
-----------------------------------------------*/
.flex--stretch { // Stretch to fill the row
  justify-content: space-around;
}
.flex--center {
  justify-content: center;
}
.flex--right {
  justify-content: right;
}
/*----------------------------------------------
--Vertical alignment of children
-----------------------------------------------*/
.flex--top {
  align-items: flex-start;
}
.flex--bottom {
  align-items: flex-end;
}
.flex--middle {
  align-items: center;
}

/*----------------------------------------------
--Individual children & modifiers
-----------------------------------------------*/

/*----------------------------------------------
--The default flex cell - automatically stretches to fit
-----------------------------------------------*/
.flex-item {
  flex: 1 1 auto;
  max-width: 100%;
  margin: $flex-gutter;
}
/*----------------------------------------------
--Responsive grid-like flex cell with fixed widths
-----------------------------------------------*/
.flex-item--1-1,
.flex-item--1-2,
.flex-item--1-3,
.flex-item--1-4,
.flex-item--1-5 {
  flex: 0 0 (100% - ($flex-gutter * 2));
  margin: $flex-gutter;
}
// Expand out to half-cols
@media (min-width: $mq-small) {
  .flex-item--1-2,
  //.flex-item--1-3,
  .flex-item--1-4,
  .flex-item--1-5 {
    flex: 0 0 (50% - ($flex-gutter * 2));
  }
}
// Expand out to their %s
@media (min-width: $mq-med) {
  .flex-item--1-3 {
    flex: 0 0 (33.333333% - ($flex-gutter * 2));
  }
  .flex-item--1-4 {
    flex: 0 0 (25% - ($flex-gutter * 2));
  }
  .flex-item--1-5 {
    flex: 0 0 (20% - ($flex-gutter * 2));
  }
}
/*----------------------------------------------
--Helper classes for vertically aligning cells
(Overrides parent alignment)
-----------------------------------------------*/
.flex-item--top {
  align-self: flex-start;
}
.flex-item--bottom {
  align-self: flex-end;
}
.flex-item--middle {
  align-self: center;
}
/*----------------------------------------------
--Other helper classes
-----------------------------------------------*/
.flex-item--no-gutter {
  margin: 0;
}

/*----------------------------------------------
--Examples:

Usage:
<div class="flex">
  <div class="flex-item--1-4"> 1/4 </div>
  <div class="flex-item--1-4"> 1/4 </div>
  <div class="flex-item--1-4"> 1/4 </div>
  <div class="flex-item--1-4"> 1/4 </div>
</div>

Usage: A one-row grid with mixed width children
<div class="flex flex--nowrap">
  <div class="flex-item--1-3"> 1/2 </div>
  <div class="flex-item"> auto </div>
</div>

Usage: Mix flex and fixed-width children
<div class="flex flex--no-wrap">
  <div> static </div>
  <div class="flex-item"> auto </div>
</div>

Usage: Vertical & Center alignment
<div class="flex flex--middle flex--center" style="height: 20em;">
  <div class="flex-item--1-2"> 1/2 </div>
</div>

Usage: Nested grids
<div class="flex">
  <div class="flex-item--1-2 flex">
    <div class="flex-item--1-2"> 1/4 </div>
    <div class="flex-item--1-2"> 1/4 </div>
  </div>
  <div class="flex-item--1-2"> 1-2 </div>
</div>
-----------------------------------------------*/

/*----------------------------------------------
--Fallback for browsers without flexbox support
-----------------------------------------------*/
.no-flexbox {
  .flex {
    display: block !important;
  }
  .flex-item,
  .flex-item--1-1,
  .flex-item--1-2,
  .flex-item--1-3,
  .flex-item--1-4,
  .flex-item--1-5 {
    display: block !important;
  }
}








.halfs{
  display:flex;
  flex-direction: column;
  @media(min-width: $mq-med){
    flex-direction: row;
  }  
  &__col{
    display:flex;
    align-items:center;
    padding: 10% 5%;
    min-height: 25em;
    @media(min-width: $mq-med){
      width: 50%;
    }
  }
  &__col--bgimg{
    @include bg-cover;
    min-height:31em;
  }
  &__content{
    @media(min-width: $mq-med){
      max-width:75%;
    }  
  }
}