/*----------------------------------------------
--Grid-specific vars
-----------------------------------------------*/
/* Row Container */
$row-max-width: 67em;

/* Number of Columns */
$cols: 12;
$col: 100% / 12;
$col-padding: 1%;
$base-gutter: 1%;

/*----------------------------------------------
-Row Class (container)
-----------------------------------------------*/
.row {
  @include clearfix;
  width: 94%;
  max-width: $row-max-width;
  margin-left: auto;
  margin-right: auto;
 
  @media (min-width: $mq-med) {
    width: 94%;
  }
  @media (min-width: $mq-large) {
    max-width: 90%;
  }
  @media (min-width: $mq-xlarge) { 
    max-width: 80%;
  }
  @media (min-width: $mq-xxlarge) {
    max-width: $row-max-width;
  }
}

.row-xl {
  @extend .row;

  @media (min-width: $mq-med) {
    max-width: 90%; 
  }
}

.row-xxl {
  @extend .row;

  @media (min-width: $mq-med) {
    width: 98%;
    max-width: 98%;
  }
}

.row-full {
  @extend .row;
  width: 100%;
  max-width: 100%;
}

/*----------------------------------------------
-Row : Nested
-----------------------------------------------*/
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -$base-gutter;
}

/*----------------------------------------------
-Columns
-----------------------------------------------*/
.cols { 
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: $col-padding;
  padding-right: $col-padding;
}

/*----------------------------------------------
-Cols: Float last col right
-----------------------------------------------*/
.cols + .cols:last-child { 
  @media (min-width: $mq-med) { 
    float: right;
  }
}
/*----------------------------------------------   
-Grid System
-----------------------------------------------*/
@for $i from 1 through $cols {
 //Columns "xsm-*"  
 .xsm-#{$i} {
  width: ((100 / $cols) * $i) * 1%;
 }
}
/*----------------------------------------------
-Grid Cols Main: after med
-----------------------------------------------*/
@media (min-width: $mq-med) {
  @for $i from 1 through $cols {
    //Columns "g-*"  
    .g-#{$i} {
      width: ((100 / $cols) * $i) * 1%;
    }
    // Offsets "os-*"
    .offset-#{$i}{
      margin-left: ((100 / $cols) * $i) * 1%;
    }
    //source order reverse: "pull-*"
    .push-#{$i}{
      left: ((100 / $cols) * $i) * 1%;
    }
    //source order reverse: "push-*""
    .pull-#{$i}{
      right: ((100 / $cols) * $i) * 1%;
    }
  }
}
/*----------------------------------------------
-Source Reverse: after med for half/half
-----------------------------------------------*/
.source-reverse {
  .cols:first-child {
    @media (min-width: $mq-med) {
      right: -50%;
    }
  }
  .cols:last-child {
    @media (min-width: $mq-med) {
      left: -50%;
    }
  }
}
