//----------------------------------------------
//  Intros
//  Styles for intro sections
//
//  @group intros
//-----------------------------------------------

.intro{
  margin: 0 auto;
  padding: $pad-lg 0;
  
  &__header, &__content{
    margin: 0 auto;
    text-align:center;
  }

  &__title{
    @extend %font-title;
  }
  
  &__text, p{
    margin: 0 auto;
    max-width: 54em;
  }
  
/**
 * Intro Section
 */
  &.intro--left{
    text-align: left;
    background-color: transparent;

    .intro__header, .intro__content{
      margin: 0 auto;
      text-align: left;
    }
  }

  &.intro--heading{
    padding: $pad 0 $pad-sm;
  }
}


