/*----------------------------------------------
-Masthead/Banner Theme
-----------------------------------------------*/
%banner-theme {
  position: relative;
  background-attachment: fixed;
  background-color: $color-dark;
  @include bg-cover;
  color: white;
  overflow: hidden;

  br {
    display: none;

    @media (min-width: $mq-small) {
      display: block;
    }
  }
}

/*----------------------------------------------
--Banner with full width background image & overlay
Add .u-vertical-center to vertically center
-----------------------------------------------*/
.mast {
  @extend %banner-theme;
  display:flex;
  align-items: center;
  //@include bg-overlay($color-dark, .4);

  min-height: 20em;
  //background-image: url('../images/mast-bg-sm.jpg');

  @media (min-width: $mq-med) {
    min-height: 30em;
    //background-image: url('../images/mast-bg.jpg');
  }
}


.mast--archive{
  background-color: $color-lightgrey;
  color: $color-dark;

  .mast__title{
    text-transform: capitalize;
  }
}