/*----------------------------------------------   
--Sect: content (basic repeatable content regions)
-----------------------------------------------  */
%section--padded, .section--padded {
  padding: 4em 0;
}
%section--padded-small, .section--padded-small {
  padding: 2em 0;
}
%section--padded-bottom, .section--padded-bottom{
  padding-bottom: 4em;
}
.section {
  @extend %section--padded;
}

