/*----------------------------------------------   
-Sections
@description: define styles global sections
-----------------------------------------------  */
section {
  position:relative;
}

/*----------------------------------------------   
-basic section class
-----------------------------------------------  */
.section{
  padding: $pad 0;
}