/*----------------------------------------------
--Site footer
-----------------------------------------------*/
.site-footer {
  margin-top: 1em;
}


/*----------------------------------------------
--Flex-based sticky footer.Strangely enough, the
footer itself doesn't need CSS, but body and main
do. Comment this out in app.scss if not wanted.
-----------------------------------------------*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
