//----------------------------------------------
//  Site Header
//
//  Styles for the global site header and nav.
//
//  @group site-header
//-----------------------------------------------
$header-height: 4em;

//----------------------------------------------
//  site-header
//  Our main header element and navigations
//
//  @group site-header
//----------------------------------------------
.site-header {
  z-index: 9;
  position: absolute;
  display: block;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  color: $color-white;
  transition: all 1s ease;
 
  .row {
    max-width: 98%;

    @media (min-width: $mq-large){
      max-width: 90%;
    }
  }
}

//----------------------------------------------
//  siteheader logo
//  Logo wrap and logo svg.
//
//  @group site-header
//----------------------------------------------
.site-header__logo {
  display: inline-block;
  width: 8.25em;
  height: 4em;
  line-height: 0;
  transition: all .5s ease;
  
  @media (min-width: $mq-med) {
    width: 9.75em;
  }

  &:hover {
    opacity: .8;
  }

  img, span {
    vertical-align: middle;
  }
  span{
    color: #fff;
    font-family: $font-header;
  }
}

//----------------------------------------------
//  site-header nav & controls
//
//  Our main nav element and nav controls
//  Controls consist of search/contact
//
//  @group site-header
//----------------------------------------------
.site-header__nav {
  display: none; 
  text-align: right;

  @media (min-width: $mq-med) {
    display: inline-block;
    float: right; 
  }

  ul {
    @include unstyled-list;
    padding: 0;
  }
 
  ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: .7em;
    padding: 0;
  }
 
  a {
    display: inline-block;
    font-family: $font-header;
    font-weight: 600;
    color: $color-white;
  }
   
  a:hover, a:focus, a:active  {
    color: $color-alpha;
  }
}

//----------------------------------------------
//  Site Header Menu Toggle
//----------------------------------------------
.site-header__menu-toggle{
  position:fixed;
  z-index:991;
  height: 3rem;
  width: 3rem;
  top:1em;
  right: 0.5em;
  
  @media (min-width:$mq-med){
    display: none;
  }
}

//----------------------------------------------
//  Site Header Menu Bars
//----------------------------------------------
.site-header__menu-bars {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width:2.5rem;
  height: 1px;
  margin: 0.75em auto;
  background: #fff;
  transition: background 0.4s ease-in-out;

  //Menu Bars top and bottom
  &:before { 
    top: -7px; 
  }
  &:after {
    top: 7px; 
  }
  &:after, &:before {
    content: '';
    display: block;
    width: 2.5rem;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease-in-out;
  }
  &:hover{
    cursor:pointer;
  }
}

//----------------------------------------------
//  Menu Open/Close Interaction
//----------------------------------------------

.js-menu--is-open{

  //Menu Bars
  .site-header__menu-bars {
    background: rgba(0,0,0,0); 
    transition: background 0.4s ease;

    &:after, &:before {
      top: 0 !important;
      background: #fff !important;
      zoom: 1;
    }
    &:after{
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }
  //Logo svg
  .site-header__logo .svg{
    will-change: transform;
    transform: scale(0);
    transition: transform 0.2s ease;
  }
} 

//----------------------------------------------
//  Scrolling INteraction
//----------------------------------------------
.scrolling-down {

  .site-header{
    position: fixed;
    background: $color-white;
    box-shadow: 0 1px 1px rgba($color-dark, .1);
    transition: transform .5s ease, background .1s ease;
    animation: nav-down ease-in-out .3s .1s both;
    @include engine3d;

    nav a:not(.btn){
      display: inline-block;
      vertical-align: middle;
      color: $color-grey;
    }
  } 
}

@keyframes nav-down {
  0%   { transform: translateY(-$header-height); }
  100% { transform: translateY(0px); }
}

