/*SoSweet Admin Styles 
  The Includes: General, ACF, Custom Login, Customize Form Elements.
*/


/*----------------------------------------------   
--Normalize and Setups
-----------------------------------------------  */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    -webkit-text-size-adjust: 100%;
 font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}

body {
    margin: 0;
}
a {
    background: 0 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 600;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019"}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img, a img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, object, embed {
    max-width: 100%;
    height: auto;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}

figure img, figure, img.respond {
    max-width: 100%;
    width: 100%;
    height: auto;
}

}hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.5em 0;
    height: 0;
}


form {
    margin: 0;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 1em 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    width: 95%}

button, input, select, textarea {
    vertical-align: baseline;
    vertical-align: middle;
}
button, input {
    line-height: normal;
    overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, .btn::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input:focus, select:focus, textarea:focus, button:focus, .btn:focus {
    outline: none;
}
button.submit, .btn.submit, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button, .btn, input {
    overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}


label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #333;
}

body {
    font-weight: 400;
    font-style: normal;
    line-height: 1.71em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/*----------------------------------------------   
--Hide Admin Stuff
-----------------------------------------------  */
/*--- Format Box--
#side-sortables #formatdiv,
#side-sortables #postimagediv,
#normal-sortables #postexcerpt,
#normal-sortables #trackbacksdiv ,
#normal-sortables  #postcustom,
#normal-sortables  #trackbacksdiv, 
#advanced-sortables #removep{
  display: none !important;
}
*/

/*----------------------------------------------   
--Custom Login Screen
-----------------------------------------------  */
.login * {
	margin: 0;
	padding: 0;
}

body.login {
  background-image: url("") !important;
  background-size: cover;
  background-color: #eee;
  height: 100%;
  background-size: cover !important;
  background-position: 50% top;
  background-repeat: no-repeat;
}

body.login::after{
	content: '';
	position: absolute;
	background: rgba(0,0,0,0.0);
	top: 0;
	height: 100%;
	width: 100%;
	z-index:	0;
}


/*----------------------------------------------   
--Custom Login: Logo
-----------------------------------------------  */

.login h1 {
	text-align: center;
}

.login h1 a {
background-image: url('/assets/images/logo-pacificportfolio.png') !important;
background-position: center center;
background-repeat: no-repeat;
color: #999;
width: 100% !important;
font-weight: normal;
margin: 0 auto -1em;
background-size: 88%;
background-position: 9%;
height: 4em;
}

/*----------------------------------------------   
--Login Box
-----------------------------------------------  */
#login {
 width: 400px;
 padding: 5em 0 0;
 margin: auto;
 position: absolute;
 left: 0;
 right: 0;
 top: 20%;
 z-index:	9;
 padding: 1em 1em 2em;
 background: #fff;
 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
@media only screen and (max-width:32em){
	#login{
		width:100%
	}
}

.login form {
	background: rgba(255, 255, 255, 1);
	box-shadow: none !important;
	width: 100%;
	display: table;
	padding: 1em 0.5em 1em;
	margin: 0 auto;
	font-weight: normal;
}

#login form p {
	margin-bottom: 0;
}


/*----------------------------------------------   
--Login Labels + Inputs
-----------------------------------------------  */
.login label {
	color: #78a596; !important;
	font-size: 14px;
}

.login form .input:active,
.login form .input:focus{
	border:1px solid #75E4AD !important;
}

.login form .input,
.login input[type="text"] {
	color: #777;
	font-weight: 200;
	font-size: 1em;
	line-height: 1;
	width: 100%;
	padding: .5em 0.3em;
	margin-top: .2em;
	border: 1px solid #000 !important;
	 border-radius: 2px !important;
	background: rgba(255,255,255,0.1) !important;
	outline: none;
}

/*----------------------------------------------   
--Login Form: Submit button
-----------------------------------------------  */

.login input[type=submit].button{
  height: 36px;
  line-height: 28px;
  padding: .3em 3.5em 1.8em !important;
  background: transparent;
  border: 0;
  border: 1px solid #78a596;
  color: #78a596;
  float:right !Important;
  box-shadow:none !important
}

#loginform p.submit {
	border: none;
	margin: -10px 0 20px; /* May want to revisit this */
	padding: 0;
}

.login .button-primary {
	float: right;
}


/*----------------------------------------------   
--Login Form: Links
-----------------------------------------------  */
.login form .forgetmenot label {
	font-size: 16px !Important;
	line-height: 1.6em;
	vertical-align: middle;
	display: inline-block;
}

.login #backtoblog, .login #nav {
	padding: 0;
}

.login #nav a:first-child {
	float: right;
}

.login #backtoblog a {
	float: left;
}

#rememberme{
	width: 1.4em !Important;
	height: 1.4em;
	border-color: #78a596; !Important;
	float: left !Important;
	display: inline !important;
	border-radius: 3px;
	color: #78a596;
	background: transparent !important;
	margin: .1em .3em 0 0em;
}


/*----------------------------------------------   
--Login Errors
-----------------------------------------------  */
#login_error,
.login .message {
	margin: 1em auto 0 !important;
	padding: 0.7em;
	font-size: 1em;
line-height: 1.5;
	background: #fdfdfd;
	border-bottom: 1px solid #ddd;
}

/*----------------------------------------------   
--Advanced Custom Fields Styles
-----------------------------------------------  */

#poststuff h2 {
  font-size: 1.55em;
  font-weight: 400;
  padding: .5em .7em;
  background: #060d15;
  color: #FFF;
  margin-right: -15px;
  margin-bottom: -22px;
  margin-left: -15px;
}

#poststuff h2.dark-navy {
  background: #060d15
}

#poststuff h2.navy {
  background: #0C1633
}
#poststuff h2.blue {
  background: #1CA0B9;
}

#poststuff h2.colbalt {
  background: #0F649C
}

#poststuff h2.black {
  background: #9A1CB9
}

#poststuff h2.grey-blue {
  background: #49757F
}

#acf-seo_description, #acf-seo_keywords {
  background: #EEE;
  padding: 1em;
}

#poststuff h3.sub-title {
  font-size: 22px;
  font-weight: normal;
  padding: 0px;
  margin: 0;
  line-height: 1.4;
  color: #000;
  background: #EEE;
  padding: .3em;
}

.acf_postbox p.label label {
  font-size: 17px !important;
  font-weight: bold !important;
  margin: 0 0 12px !important;
}
.acf_postbox p.label {
  font-size: 14px;
  line-height: 1.6em;
}

.acf_postbox.no_box .field {
  border-top: 0 none;
  border-bottom: 0 none;
  padding-left: 0;
  padding-right: 0;
  padding: 1em;
}

.acf-tab-group {
  margin-bottom: 0 !important
}

.field_type-message{
  background: #238DBD;
  padding: 0 !important;
}

.acf_postbox.no_box .field {
  background-color:#fff;
  padding: 0 1.3em 1.5em !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.acf_postbox p.label label {
  padding:1em 0 .2em !important; 
  margin: 0 0 8px !important;
}
.acf_postbox.no_box {
  box-shadow:none
}
/*----------------------------------------------   
--ACF: Seo Metas
-----------------------------------------------  */
#acf-seo_description, #acf-seo_keywords {
  background: #fff !important;
}
.acf_postbox .field input[type="text"], .acf_postbox .field input[type="number"], .acf_postbox .field input[type="password"], .acf_postbox .field input[type="email"], .acf_postbox .field textarea {
	width: 100%;
	padding: 6px;
	resize: none;
	margin: 0;
	height: 3em;
	box-shadow: none;
	border: 2px solid #ddd;
}

table.acf-input-table.row_layout > tbody > tr > td {
	border-top-color: #fff;
	background: #577c90 !important;
}

/*----------------------------------------------   
--ACF: repeators
-----------------------------------------------  */
.repeater > table > tbody > tr > td.order {
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
.repeater > table > tbody > tr > td.order {
	width: 3em !important;
	text-align: center !important;
	vertical-align: middle;
	color: #FFF !important;
	text-shadow: none !important;
	cursor: move;
	font-size: 1.75em;
	padding: 0 3em;
}
table.acf_input tbody tr td.label {
	width: 13% !important;
	background:	#fff !important;
}


.acf-file-uploader img {
	box-shadow:	none !important;
	background:	transparent !important;
}


/*----------------------------------------------   
--Dashboard
-----------------------------------------------  */
.index-php .wrap h2:first-child{
	opacity:	0;
	padding: 0 0 0.1em;
}
.metabox-holder .postbox-container .empty-container{
	display:	none;
}

#wpbody-content #dashboard-widgets .postbox-container {
width: 100% !important;
}
#pp_dashboard_welcome .postbox .inside {
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}
div#pp_dashboard_welcome h3.hndle {
	display: none;
}

#dashboard-widgets .postbox .inside {
margin-bottom: 0;
margin: 0;
padding: 0;
}
.postbox .handlediv {
display: none;
}
.postbox .handlediv h3.hndle{
	display:	none;
}
div#pp_dashboard_hero {
background: transparent;
border: 0;
box-shadow: none;
}
div#pp_dashboard_hero img{
	width:	100%;
}

div#pp_dashboard_hero h3.hndle,
div#pp_dashboard_brand h3.hndle,
div#pp_dashboard_hero .handlediv,
div#pp_dashboard_brand .handlediv {
display: none;
}

div#pp_dashboard_hero #dashboard-widgets .postbox .inside{
	padding:	0;
}
div#pp_dashboard_welcome {
width: 33.33%;
float: left;
margin-right: 1em;
}
div#pp_dashboard_brand {
width: 33%;
float: left;
}

.box{
	background:	#fff;
}

.box .box-top{
	padding:	4em 2em;
}
.box .bg-green{
	background:	#78a596;
}
.box .bg-orange{
	background:	rgba(209,85,39,1);
}

.box .box-top h3 {
	color: #fff;
	font-size: 3em !important;
	font-weight: 400;
}
.box .box-content{
	padding: 2.25em;
	min-height:	11.2em;
}
.box .box-content p{
	font-size: 1.4em;
	color: #999;
	line-height: 1.5;
	font-weight: 400;
}
.box .box-footer {
	padding: 1em 2.25em;
	border-top: 1px solid #eee;
}
.box .box-footer a {
	font-size:	1.4em;
}