/*----------------------------------------------   
Sect Blocks
-----------------------------------------------  */
.sect-blocks{
	z-index: 7;
	@include cf;
	padding: 3em 0 0;
	
	@media (min-width: $mq-med){
		padding: 3em 0;
	}	
	
/*----------------------------------------------   
-Modifer to remove bottom padding on mobile
-----------------------------------------------  */
	&.sect-intro, &.sect-content{
	@media (max-width: $mq-med){
			padding-bottom: 0;
		}	
	}
	.row.xl{
		@media (max-width: $mq-med){
			width: 100%;
			max-width: 100%;
		}

		& > .cols{
			@media (max-width: $mq-med){
				padding-left: 0;
				padding-right: 0;
			}	
		}
	}

/*----------------------------------------------   
--Article blocks
-----------------------------------------------  */
 article {
  text-align: center;
  overflow: hidden; 
  @media (max-width: $mq-med){
			padding: 0;
			margin-bottom: 0.2em;
  }	
  
/*----------------------------------------------   
--Block: link + bg image
-----------------------------------------------  */ 
	a{
		display: block;
	 position: relative;
	 color: #fff;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0,0,0,0.9);
	 height: 26em;
	 @include banner-bg;
	 @include overlay($color-dark, 0.5);
	 @include transition(all 1s ease);

	 @media (min-width: $mq-med){
			height: 23em;
	 }
	 @media (min-width: $mq-xlarge){
			height: 26em;
	 }
	 &:after{
			@include transition(all 0.6s ease);
		}


/*----------------------------------------------   
--Block: bg img
-----------------------------------------------  */ 		
	.block-bg{			
		@include transform(scale(1));
		@include transition(all .8s ease);
	}
	
/*----------------------------------------------   
--Block: Content
-----------------------------------------------  */
	.block-content {
		position: absolute;
		width: 100%;
		//height: 100%;
		@include center-all;
		@include abs-vcenter;
		z-index: 6;
		@include transition(all .5s ease-in-out);

		@media(min-width: $mq-med){
			height: auto;
			@include abs-vcenter;
		}
	}
	
	h4{
		color:	#fff;	
		@include font-h3;
		@include transform(translateY(0));
		@include transition(transform 0.4s ease);
	}

	p {
		font-size:$font-small;
		color: #fff;
		margin-bottom: 1em;
		padding: 0 5%;
		@include transition(margin .3s ease-in-out);
		
		@media (min-width: $mq-xlarge) {
			padding: 0 10%;
		}
	}

/*----------------------------------------------   
---Block: Hover Content
-----------------------------------------------  */
	.block-content--hover {
  opacity: 1;
  @include transition(all 0.3s ease);
		
		@media(min-width: $mq-med){
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include abs-vcenter;
		}	

		.link-line{
	  	font-weight: 600;
	  	text-align:center;
	  	margin: 0 auto;
	  	@include transition(opacity 0.7s 0.6s ease);
	  	@media(min-width: $mq-med){
	  		opacity: 0;
	  	}	
	  }
 }

/*----------------------------------------------   
-Blocks: ON Hover & >  Med
-----------------------------------------------  */
		@media(min-width: $mq-med){	
			&:hover{		
				@include transition(all 1s ease);
			
/*----------------------------------------------   
---Block Hover: overlay
-----------------------------------------------  */ 
				&:after{
					background-color: rgba($color-beta, 0.8);
				}
/*----------------------------------------------   
---Block Hover: bg img
-----------------------------------------------  */ 
				.block-bg{
					@include transform(scale(1.2));
					@include transition(all .8s ease);
				}
/*----------------------------------------------   
---Block Hover: Content
-----------------------------------------------  */ 
			.block-content{
				//opacity: 0;

				h4{
					@include transform(translateY(-1em));
					@include transition(transform 0.4s ease);
				}
			}
/*----------------------------------------------   
---Block Hover: Content-Hover
-----------------------------------------------  */ 
			.block-content--hover {
	  	opacity: 1;
	  	@include transition(all 1s 0.3s ease);

	  	p, span{
					//@include animation(fade-up 0.7s ease);
	  	}

	  	.link-line{
	  		opacity: 1;
	  		@include transition(opacity 1s 0.6s ease);
	  	}
	 	}
	 }
	}
}
}

/*----------------------------------------------   
---Blocks: Color Modifer
-----------------------------------------------  */ 
	article.block-beta{ 

		a:after{
			background-color: rgba($color-darkgrey, 0.1);
		}
		h4, h5, p, .btn, [class*="icon-"]{
			color: #fff;
		}

		a:hover{
			&:after{
				background-color: rgba($color-beta, 0.8);
			}
		}
	}

/*----------------------------------------------   
---Blocks: Margin Modifer
-----------------------------------------------  */ 
&.has-margin{
	article{
		margin-bottom: 0.25em;
		@media(min-width: $mq-med){
			margin-bottom: 2em;
		}
	}
}

}
