/*----------------------------------------------   
--Header + Nav
-----------------------------------------------  */
header.header-main{
  position: absolute;
  width: 100%;
 //background: #fff;
 //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  display: block;
  z-index: 9;
  height: $header-height;
  line-height:  $header-height;
  @include transition(all 1s ease);
 
 .row {
   max-width: 98%;
   @media (min-width: $mq-large){
    max-width: 90%;
   }
 }
 
/*----------------------------------------------   
--Header - Sticky
-----------------------------------------------  */ 
.scrolling-down &{
  position: fixed;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  @include animation(nav-down ease-in-out 0.3s .1s both);
  @include engine3d;
  @include transition(transform 0.5s ease, background 0.1s ease);

  .header-main__logo {
    //background-image: url(../images/logo-jumpoff-alpha.png);
  }
  nav a:not(.btn){
    display:inline-block;
    vertical-align:middle;
    color: $color-grey;
  }
 } 


/*----------------------------------------------   
--Header-main Logo
-----------------------------------------------  */
 .header-main__logo {
    background-image: url(../images/logo-jumpoff.png);
    background-size: 8em;
    height: 4em;
    width: 8.25em;
    background-repeat: no-repeat;
    background-position: 0 50%;
    display: inline-block;
    @include transition(all 0.5s ease);
    
    @media (min-width: $mq-med){
      background-size: 9.25em;
      width: 9.75em;
    }

    &:hover{
     background-image: url(../images/logo-jumpoff-alpha.png);
     @include transition(all 0.5s ease);
    }
  img{
    width: 8em;
    display: inline-block;
    vertical-align: middle;
  }
}
/*----------------------------------------------   
--Header-main--nav
-----------------------------------------------  */ 
 nav {
  text-align: right;
  display: none; 

  @media (min-width: $mq-med) {
   float: right; 
   display: inline-block; 
  }

  ul{padding: 0;}
 
  ul > li{
   position: relative;
   display: inline-block;
   padding: 0;
   margin-left: .7em;
   vertical-align: middle;
  }
 
  a{
    font-family: $font-header;
    font-weight: 600;
    display:inline-block;
    color: #fff;
  }
   
  a:hover,  a:active  {
    color: $color-alpha !important;
  }

  [class*="btn"]{
    margin: 0;
    color: #fff;
    font-size: $font-small;
    margin-left: 0.25em;
    padding: .2em 1.85em;
    color: #fff !important;
  }
 }
}

/*----------------------------------------------   
--header-light
-----------------------------------------------  */ 
.header-light .header-main{
  a{
    color: $color-grey;
  }
}