/*----------------------------------------------   
--Header + Nav
-----------------------------------------------  */
header.header-main{
 position: absolute;
 width: 100%;
 //background: #fff;
 //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
 display: block;
 z-index: 8;
 height:	$header-height;
 line-height:	$header-height;
 
 .row {
   width: 90%;
 }
 
 &.sticky{
 	position:	fixed;
 	background:	#fff;
 	@include animation(nav-down ease-in-out 0.7s .1s both);
 	@include engine3d;
 	@include transition(transform 0.5s ease);
 	//@include transition(all 1s ease);
 	
 	nav a{
 		color:	#aaa;
 	}
 } 
 h1#logo {
  font-size: 1em;
  max-width: 10em;
  display: inline-block;
  vertical-align: middle;
  color:	#fff;
  @media (min-width: $mq-med) {}
 }
 
 nav {
  text-align: right;
  display: none; 

  @media (min-width: $mq-med) {
   float: right; 
   display: inline-block; 
  }

 ul{padding: 0;}
 
 ul > li{
   position: relative;
   display: inline-block;
   padding: 0;
   margin-left: .7em;
   vertical-align: middle;
 
   &.btn{
    margin: 0;
    margin-left: 1em;
    padding: .4em 1em;
    font-size: 80%;
    border-color:$color-delta !important;
    font-weight: 400;
   }
   
   &.btn:hover{
    background: $color-delta !important;
   }
   
   &.btn a:hover{
    color: #fff !important;
   }
   
   &.btn-right{
    margin-left: 0;
   }
   a{
    font-family: $font-header;
    display:block;
    color: #fff;
   }
   
   a:hover,  a:active  {
    color: $color-alpha !important;
   }
  }
 }
}