/*----------------------------------------------
--Header offcanvas-bg
-----------------------------------------------*/
.offcanvas-menu {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  display: table;
  height: 100vh;
  height: 100%;
  width: 100%;
  background-color: rgba($color-dark, .9);
  transform: translate3d(100%, 0, 0);
  transition: transform .7s ease;
   
  @media (min-width: $mq-med) {
    width:  50%;
  }
      
  nav {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    
    ul {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 1em .5em;
      font-family: $font-header;
      text-align: center;
      transition: all .5s ease;
    }
  
    li {
      display: block;
      padding: .5em 0;
      font-family: $font-header;
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease;
      transform: translateX(10%);
      @include nth-transition-delay(6, .3s);
    }
   
    a {
      color: $color-white;
      transition: all .7s ease;
    
      &:hover, &:focus, &.active {
        color: rgba($color-white, .6);
      }
    }
  }
}


/*----------------------------------------------
--js-nav-open
-----------------------------------------------*/
.js-nav-open {
  /*--offcanvas-bg--*/
  .offcanvas-menu {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.34,.95,.27,.98);

    /*--offcanvas nav link animation--*/
    ul li {
      opacity: 1;
      transform: translateX(0px);
      transition: all .4s ease;
      visibility: visible;
      -webkit-backface-visibility: hidden;
      //transition delay
      @include nth-transition-delay(5, .2s);
    }
  }
}

/*----------------------------------------------
--Mobile Nav Toggle
-----------------------------------------------*/
.offcanvas-toggle {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 1%;
  height: 3em;
  padding: 1em .6em 1em 1em;
  cursor: pointer;
  transition: top .5s ease-in-out;

  /*-- Hide > Med --*/
  @media (min-width: $mq-med){
    display:  none;
  }

  &:hover .offcanavs-toggle__menubars:before {
    top: -9px;
  }
  &:hover .offcanavs-toggle__menubars:after {
    top: 9px;
  }
}

/*----------------------------------------------
--Offcanvas-menu: Menu Bars
-----------------------------------------------*/
.offcanvas-toggle__menubars {
  position: relative;
  width: 1.7em;
  height: 1px;
  margin: .75em 0;
  background-color: $color-dark;
  transition: top 0.3s ease-in-out;
 
  &:before {
    top: -8px; 
  }
  &:after {
    top: 8px; 
  }
  &:after, &:before {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    width: 1.7em;
    height: 1px;
    background-color: $color-dark;
    transition: all 0.3s ease-in-out;
  }
} 

/*----------------------------------------------
--JS-Nav-Open: Menu Bars Animate
-----------------------------------------------*/
.js-nav-open {
  /*--Menu-bars--*/
  .offcanvas-toggle__menubars {
    background: none !important; 


    &:after {
      top: 0 !important;
      background-color: #fff;
      transform: rotate(45deg);
    }
    
    &:before {
      top: 0 !important;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }
}
