/*----------------------------------------------   
--Signup Form
-----------------------------------------------  */
.sect-signup{
	background-color:	$color-dark;
	padding:	3.25em 0;
	border-bottom:	1px	solid	#333;
	
	h3, h4{
		margin:	0;
		color:	#ccc;
		display:	none;
		@media (min-width: $mq-med) {
			display:	inline;
			vertical-align:	middle;
		}
	}
}


.form-signup{
	position:	relative;
	//top:	-0.25em;
//	height:	3.5em;
	
		@media screen and ( min-width: $mq-med ){
		//	height:	3em;
		}
		
		i.icon {
		position: absolute;
		top: .4em;
		left: .6em;
		font-size: 1.3em;
		color:	#ddd;
		z-index:	9;
		}
		.newsletter{
					width: 100%;
					max-width: 21.5rem; /* 420 */
					height: 3rem; /* 60 */
					font-size: 1.25rem; /* 20 */
					position: absolute;
					right:	0;
					top:	-0.25em;
					
					@media screen and ( max-width: $mq-med ){
					position: relative;
					top: auto;
					left: auto;
					margin: 0 auto;
					text-align:	center;
					}
				}
					.newsletter input {
						@inlcude transition(color .25s ease, background-color .25s ease, border-color .25s ease);
					}
					.newsletter-email {
						width: 100%;
						height: 100%;
						text-overflow: ellipsis;
						color: #ddd;
						background-color: #222;
						border: 1px solid transparent;
						white-space: nowrap;
						overflow: hidden;
						font-size:	85%;
						padding: 0 5rem 0 3.5rem; /* 80 20 */
					
						&::-webkit-input-placeholder	{ color: #999 !important; 
					}
						&:-moz-placeholder				{ color: #a49c54 !important; }
						&::-moz-placeholder				{ color: #a49c54 !important; }
						&:-ms-input-placeholder			{ color: #a49c54 !important; }
		
						&:hover	{
							border-color: #494736;
						}
						&:focus {
							color: #ddd;
							background-color: transparent;
							border-color: $color-alpha;
						}
					}
					input.newsletter-submit {
						height: 100%;
						font-weight: 700;
						color: #fff;
						background-color: #323232;;
						display: none;
						position: absolute;
						top: 0;
						right: 0;
						margin:	0;
						border:	1px solid $color-alpha;
						padding: 0 1.25rem; /* 20 */
						@include animation(appear-from-inside .25s ease, fade-in .25s linear );
						@include transform-origin(right center);

							&:hover{
								background-color:	$color-alpha;
							}
						}
						.newsletter-submit:hover,
						.newsletter-submit:focus
						{
							color: #fff;
						}
						.newsletter--active .newsletter-submit
						{
							display: block;
						}
		

				@include keyframes(appear-from-inside) {
					from{
						@include transform(scale(0));
					}
					75%{
						@include transform(scale(1.1));
					}
					to{
						@include transform(scale(1));
					}
				}
				}


/*----------------------------------------------   
--Sect-Form / Sect Yeah! prevent jump on fade in / out
-----------------------------------------------  */
.rel-wrap{
	position:	relative;
	z-index:	5;
	
	section{
		position:	absolute;
		width:	100%;
		top:	49%;
		@include transform(translateY(-50%));
		line-height:	1.6;
		//padding-top:	2.45em;
	}
	.sect-form{
		z-index:	8;
		//@include abs-vcenter;
	}
	.sect-success{
		opacity:	0;
		z-index:	0;
		
		p{
			color:	#fff;
			letter-spacing: 0.01em;
			font-size: 1.1em;
		}
	}
}

/*----------------------------------------------   
--Success
-----------------------------------------------  */
.submit-success{
	.sect-form{
		opacity:	0;
		@include transition(all 1s ease);
			@include animation(fade-out ease-in-out 1s 3s both);
	}
	
	.sect-success{
		@include animation(fade-in ease-in-out 0.5s 1.5s both);
		
		p{
			color:	#fff;
		}
	}
}
/*----------------------------------------------   
--Notice Bar
-----------------------------------------------  */
#sect-notice {
	opacity:	0;
	position: fixed;
	z-index:	99;
	display:	table;
	width:	100%;
	top: -10%;
	left:	0;
	margin: 0 auto;
	text-align: center;
	background: rgba($color-alpha, 0.9);
	padding: 1em;
	width: 100%;
	color: #fff;


/*----------------------------------------------   
--Notice Bar: Error
-----------------------------------------------  */
&.error{
	@include animation(fade-in ease-in-out 1s both);
	background:	rgba( $color-alpha, 0.9 );
	z-index:	99;
	top:	0;
}


/*----------------------------------------------   
--Notice Bar: Success
-----------------------------------------------  */
&.success{
	opacity:	0;
	z-index:	99;
	background-color:	rgba($color-alpha, 0.9);
	height:	102%;
	//height:	100vh;
	width:	100%;
	top:	0;
	bottom:	0;
	left:	0;
	right:	0;
	@include transition(background-color 1s ease);

	span.success{
		display:	table-cell;
		vertical-align:	middle;
		font-size:	120%;
		padding:	0 5%;
		margin:	0 auto;
		//color:	#111;
		
		@media (min-width: $mq-med) {
		padding:	0 20%;
		font-size:	190%;
			}
		}
	}
}
