/*----------------------------------------------   
-Sect: Next Posts (read more)
-----------------------------------------------  */
.sect-nextpost{
  a{
    @include sect-banner;
    height: 30em;
    @include overlay-gradient();

    &:hover{
      @include overlay($color-alpha, 0.6);
    }
  }

  .meta-subheader{
    font-weight: 600;
    font-size: 1.5em;
  }
}
