/*----------------------------------------------   
-Home: Mast
-----------------------------------------------  */	
.mast--404{
  height: 100vh;
  background-position: bottom;
  //background-image: url('../images/404-mast-bg--small.jpg');

  @media (min-width: $mq-med) {
    //background-image: url('../images/404-mast-bg.jpg');
  }
}

